@import '../../scss/mixins';
@import '../../scss/vars';
@import '../button/button.scss';

.dropdown {
  width: 100%;
  height: 44px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border: 1px solid $dark-shade-25;
  border-radius: 4px;

  &__selection {
    @include Body;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    height: 44px;
    box-sizing: border-box;
    line-height: 18px;
  }

  &__title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    display: flex;
    justify-content: space-between;

    &:after {
      content: 'expand_more';
      @include Icon;
      font-size: 24px;
      cursor: pointer;
    }
  }

  &_active {
    height: unset;
    border-color: $dark-shade-50;
  }

  &__menu {
    @include H3;

    display: block;
    padding: 5px 5px 0 15px;
    border-top: 1px solid $dark-shade-50;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 10;
    position: relative;
  }

  &__option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 7px;
  }

  &__option-name {
    @include H3;
  }

  &__counter {
    display: flex;
  }

  &__btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid $dark-shade-50;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    &:before {
      font: {
        weight: normal;
        size: 18px;
      }

      line-height: 22px;
      color: $dark-shade-50;
    }
  }

  &__btn-plus::before {
    content: '+';
  }

  &__btn-minus::before {
    content: '-';
  }

  &__input {
    @include H3;

    width: 30px;
    border: none;
    text-align: center;
  }

  &__control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
  }

  &__clean-btn {
    visibility: hidden;
  }
}

