include ../field/field
include ../button/button

mixin dropdown({show, title}, items)
  .dropdown.js-dropdown(class=show ? "show": "", class= (title == "room" ? "dropdown_room" : ""))
    .dropdown__selection.js-dropdown__selection
      if title == "room"
        p.dropdown__title.js-dropdown__title.room Сколько комнат
      else
        p.dropdown__title.js-dropdown__title Сколько гостей
    .dropdown__menu
      each item in items
        .dropdown__option.js-dropdown__option
          h3.dropdown__option__title=item
          .dropdown__counter
            .dropdown__counter__decrement
            input.dropdown__counter__input.js-dropdown__counter__input(value="0" readonly name=item)
            .dropdown__counter__increment
      unless title == "room"
        .dropdown__control
          .dropdown__clean-btn.js-dropdown__clean-btn 
            +button({text: "очистить", style: "ghost"})
          .dropdown__accept-btn.js-dropdown__accept-btn 
            +button({text: "применить", style: "simple"})