include ../input/input
mixin dropdown(show, title, ...items)
    .dropdown(class=show ? "show": "", class= (title == "room" ? "dropdown_room" : ""))
        .dropdown__selection
            if title == "room"
                p.dropdown__title.room Сколько комнат
            else
                p.dropdown__title Сколько гостей
            i.material-icons.arrow_direction_bottom expand_more
        .dropdown__menu
            each item in items
                .menu__option
                    h3.option__title=item
                    .option__counter
                        .counter__decrement
                        input.counter-item(value="0" readonly name=item)
                        .counter__increment
            unless title == "room"
                .menu__control
                    button.button_ghost.js-clean очистить
                    button.button_simple.js-accept применить