include ../field/field
include ../button/button

mixin dropdown({show, title, type, controlBtn = false}, items)
  .dropdown.js-dropdown(class=show ? "dropdown_active": "", class= (type == "room" ? "dropdown_type_room" : ""))
    .dropdown__selection.js-dropdown__selection
      p.dropdown__title.js-dropdown__title= title
    .dropdown__menu
      each item in items
        .dropdown__option.js-dropdown__option
          h3.dropdown__option-name=item
          .dropdown__counter
            .dropdown__btn.dropdown__btn-minus
            input.dropdown__input.js-dropdown__input(value="0" readonly name=item)
            .dropdown__btn.dropdown__btn-plus
      if controlBtn
        .dropdown__control
          .dropdown__clean-btn.js-dropdown__clean-btn 
            +button({text: "очистить", style: "ghost-link"})
          .dropdown__accept-btn.js-dropdown__accept-btn 
            +button({text: "применить", style: "link"})