include ../field/field
include ../button/button
include ../dropdown-option/dropdown-option

mixin dropdown({show, title, controlBtn = false, items = [{name, group}]})
  .dropdown.js-dropdown(class=show ? "dropdown_active": "")
    .dropdown__selection.js-dropdown__selection
      p.dropdown__title.js-dropdown__title= title
    .dropdown__menu
      each item in items
        .dropdown__option.js-dropdown__option
          +dropdown-option({ name: item.name, group: item.group})
      if controlBtn
        .dropdown__control
          .dropdown__clean-btn.js-dropdown__clean-btn 
            +button({text: "очистить", style: "ghost-link"})
          .dropdown__accept-btn.js-dropdown__accept-btn 
            +button({text: "применить", style: "link"})
            