@import '../rate-btn/rate-btn.scss';

.card-room {
    width: 270px;
    background-color: #fff;
    box-shadow: 0px 10px 20px $dark-shade-5;
    border-radius: 4px;
    overflow: hidden;
    height: 257px;
}
.card-room__footer {
    padding: 20px;
}
.card-room__room-details {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.room-details__room-number {
    @include H2;
    margin: 0;
    &:before {
        content: "№ ";
        font-size: 14px;
    }
    span {
        @include H3;
        color: $purple;
    }
}
.room-details__price {
    font: {
        family: Montserrat;
        weight: bold;
        size: 14px;
    }
    line-height: 18px;
    color: $dark-shade-50;
    &:after {
        content: " в сутки";
        font-weight: normal;
    }
}
.card-room__room-rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid rgba($dark-shade, 0.1);
    padding-top: 8px;
}
.room-rating__comments {
    font: {
        family: Montserrat;
        weight: bold;
        size: 14px;
    }
    line-height: 18px;
    color: $dark-shade-50;
    &:after {
        content: " Отзывов";
        font-weight: normal;
    }
}
.card-room__image {
    position: relative;
}
.card-room__slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    i.material-icons {
        font-family: Material Icons;
        font-style: normal;
        font-size: 24px;
        color: #fff;
        transform: rotate(-90deg);
        &:first-child {
            transform: rotate(90deg);
        }
    }
}