@import '../../scss/vars';
@import '../../scss/mixins';
@import '../rate-btn/rate-btn.scss';

.card-room {
  width: 270px;
  display: inline-block;
  background-color: #fff;
  box-shadow: 0 10px 20px $dark-shade-5;
  border-radius: 4px;
  overflow: hidden;

  &__gallery {
    position: relative; 

    &:hover .card-room__slider,
    &:hover .card-room__circles {
      opacity: 1;
      transition: 1s;
    }
  }

  &__image {
    width: 100%;
    display: block;
  }

  &__circles {
    position: absolute;
    display: flex;
    bottom: 10%;
    right: 5%;
    opacity: 0;
  }

  &__circle {
    width: 7.5px;
    height: 7.5px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-left: 4px;
    box-sizing: border-box;

    &_active {
      background-color: #fff;
    }
  }

  &__slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    opacity: 0;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    background:
      linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 15.99%, rgba(255, 255, 255, 0) 16%),
      linear-gradient(270deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 15.99%, rgba(255, 255, 255, 0) 16%);
  }

  &__slider-arrow {
    @include Icon;
    font-size: 24px;
    color: #fff;
    transform: rotate(-90deg);

    &:first-child {
      transform: rotate(90deg);
    }
  }

  &__footer {
    padding: 20px;
  }

  &__room-details {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-bottom: 8px;
  }

  &__room-number {
    @include H2;
    margin: 0;
    
    &::before {
      content: '№';
      font-size: 14px;
      padding-right: 8px;
    }
  }

  &__luxury {
    @include H3;
    color: $purple;
    padding-left: 5px;
  }

  &__price {
    font-weight: bold;
    line-height: 18px;
    color: $dark-shade-50;
  
    &::after {
      content: ' в сутки';
      font-weight: normal;
    }
  }

  &__room-rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba($dark-shade, 0.1);
    padding-top: 5px;
  }

  &__comments {
    font-weight: bold;
    line-height: 18px;
    color: $dark-shade-50;
  
    &::after {
      content: ' Отзывов';
      font-weight: normal;
    }
  }
}

