@import '../../scss/mixins';

.card-room {
  background-color: #fff;
  box-shadow: 0 10px 20px $dark-shade-5;
  border-radius: 4px;
  overflow: hidden;

  &__image {
    width: 100%;
  }

  &__decoration {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 3px;
    opacity: 0;
    background:
      linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 15.99%, rgba(255, 255, 255, 0) 16%),
      linear-gradient(270deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 15.99%, rgba(255, 255, 255, 0) 16%);
  }

  &__description {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-decoration: none;
  }

  &__room-details {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-bottom: 8px;
  }

  &__room-number {
    @include H2;
    margin: 0;
    
    &::before {
      content: '№';
      font-size: 14px;
      padding-right: 8px;
    }
  }

  &__luxury {
    @include H3;
    color: $purple;
    padding-left: 5px;
  }

  &__price {
    font-weight: bold;
    line-height: 18px;
    color: $dark-shade-50;
  
    &::after {
      content: ' в сутки';
      font-weight: normal;
    }
  }

  &__room-rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba($dark-shade, 0.1);
    padding-top: 5px;
  }

  &__comments {
    font-weight: bold;
    line-height: 18px;
    color: $dark-shade-50;
  
    &::after {
      content: ' Отзывов';
      font-weight: normal;
    }
  }

  .slick-slider {
    .slick-arrow {
      position: absolute;
      z-index: 10;
      top: calc(50% - 15px);
      font-size: 0;
      background: transparent;
      border: none;
      padding: 0;
      outline: none;
      opacity: 0;

      &::before {
        @include Icon;
        font-size: 24px;
        color: #fff;
      }
    }

    .slick-prev {
      left: 10px;

      &::before {
        content: 'keyboard_arrow_left'
      }
    }

    .slick-next {
      right: 10px;

      &::before {
        content: 'keyboard_arrow_right'
      }
    }

    .slick-dots {
      position: absolute;
      bottom: 18px;
      right: 14px;
      width: 100%;
      box-sizing: border-box;
      display: flex;
      list-style: none;
      justify-content: flex-end;
      margin: 0;
      z-index: 10;
      
      li {
        width: 7.5px;
        height: 7.5px;
        border: 1px solid #fff;
        border-radius: 50%;
        margin-left: 4px;
        box-sizing: border-box;

        button {
          display: none;
        }
      }

      li.slick-active {
        background-color: #fff;
      }
    }
  }

  &__slider {
    position: relative; 

    &:hover .card-room__decoration, 
    &:focus .card-room__decoration,
    &:hover .slick-arrow,
    &:focus .slick-arrow {
      opacity: 1;
      transition: 1s;
    }
  }
}
