@import '../../scss/mixins';

.room-details {
  max-width: $max-width;
  margin: 0 auto;
  background-color: #fff;

  width: 100%;
  display: flex;
  flex-direction: column;

  &__gallery {
    margin: 0 auto;
    display: flex;
    width: 100%;
    height: auto;
  }

  &__gallery-item {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width: 1441px) {
      flex: 1;

      &:first-child {
        flex: 2;
      }
    }

    @media (max-width: 600px) {
      &:not(:first-child) {
        display: none;
      }
    }
  }

  &__image {
    width: 100%;
    height: auto;
    pointer-events: none;

    @media (min-width: 1441px) {
      height: 100%;;
    }
  }

  &__description {
    max-width: $content-width;
    margin: 0 auto;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 2fr min(380px);
    grid-gap: 60px;
    padding: 70px 0 50px;

    @media (max-width: 1200px) {
      max-width: unset;
      grid-template-columns: 1fr;
      justify-items: center;
    }

    @media (max-width: 450px) {
      padding: $space-y/2 10px;
    }
  }

  &__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 30px;

    @media (max-width: 1200px) {
      padding: 0 $space-y;
    }

    @media (max-width: 670px) {
      grid-template-columns: 1fr;
    }

    @media (max-width: 450px) {
      padding: 0;
    }
  }

  &__subtitle {
    margin-bottom: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 600px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__details {
    @include Body;
    font-size: 12px;
  }

  &__advantages {
    display: grid;
    grid-row-gap: 22px;
  }

  &__reviews {
    grid-column: 1/3;

    @media (max-width: 670px) {
      grid-column: 1/2;
    }
  }

  &__reviews-wrapper {
    display: grid;
    grid-row-gap: 20px;
    padding: 5px 0;
  }

  &__reviews-number {
    color: $dark-shade-50;
    padding-right: 10px;
  }

  &__rules &__subtitle{
    padding-left: 18px;
  }
}
