extends ../../components/layout-page/layout-page
include ../../components/form-booking/form-booking
include ../../components/advantages/advantages
include ../../components/bullet-list/bullet-list
include ../../components/review/review
include ../../components/chart/chart

block variables
  - var pageTitle = 'Room details page'
  - var gallery = [
  - {src: "images/room888-1.jpg", alt: "room #888"},
  - {src: "images/room888-2.jpg", alt: "room #888"},
  - {src: "images/room888-3.jpg", alt: "room #888"}
  - ]
  - var voices = [
  - {name: "Великолепно", quantity: 130, color1: "#FFE39C", color2: "#FFBA9C"},
  - {name: "Хорошо", quantity: 65, color1: "#BC9CFF", color2: "#8BA4F9"},
  - {name: "Удовлетворительно", quantity: 65, color1: "#6FCF97", color2: "#66D2EA"},
  - {name: "Разочарован", quantity: 0, color1: "#909090", color2: "#3D4975"}
  - ]
  - var advantages = [
  - {title: "Комфорт", description: "Шумопоглощающие стены", icon: "insert_emoticon"},
  - {title: "Удобство", description: "Окно в каждой из спален", icon: "location_city"},
  - {title: "Уют", description: "Номер оснащён камином", icon: "whatshot"}
  - ]
  -
    var reviews = [
      {
        name: "Мурад Сарафанов", 
        src: "images/reviews/review2.png", 
        voiceCounter: 11,
        liked: true,
        date: "5 дней назад",
        comment: 
        "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."
      },
      {
        name: "Патрисия Стёклышкова",
        src: "images/reviews/review1.png",
        voiceCounter: 2,
        liked: false,
        date: "Неделю назад",
        comment: "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент"
      }
    ]

block main
  main.room-details
    .room-details__gallery
      each photo in gallery
        figure.room-details__gallery__item
          img(src=photo.src, alt=photo.alt).room-details__image
    .room-details__description
      .room-details__info
        .room-details__info__item
          h2.room-details__info__subtitle Сведения о номере
          .room-details__advantages
            each advantage in advantages
              +advantages(advantage)
        .room-details__info__item.room-details__chart
          h2.room-details__info__subtitle Впечатления от номера
          +chart(voices)
        .room-details__info__item.room-details__reviews
          h2.room-details__info__subtitle Отзывы посетителей номера
          .room-details__reviews__wrapper
            each comment in reviews
              +review(comment)
        .room-details__info__item.room-details__rules
          h2.room-details__info__subtitle Правила
          +bullet-list([
            "Нельзя с питомцами",
            "Без вечеринок и мероприятий",
            "Время прибытия — после 13:00, а выезд до 12:00"
          ])
        .room-details__info__item
          h2.room-details__info__subtitle Отмена
          p.room-details__info__details
            | Бесплатная отмена в течение 48 ч. 
            |После этого при отмене не позднее чем за 5 дн. до прибытия 
            |вы получите полный возврат за вычетом сбора за услуги.
      .room-details__booking
        +form-booking({number: 888, price: 9990, discount: 2179, serviceCharge: 0, additionalServiceCharge: 300, days: 4})
            
               
    