mixin pagination({ currentPage = 1, totalPages = 15, elementsOnPage = 12, } = {})
  .pagination
    ul.pagination__pages
      li.pagination__item
        a.pagination__link(href="/mock-address/change-me").pagination__link_current=currentPage
      li.pagination__item
        a.pagination__link(href="/mock-address/change-me")=currentPage + 1
      li.pagination__item
        a.pagination__link(href="/mock-address/change-me")=currentPage + 2
      li.pagination__item
        a.pagination__link(href="/mock-address/change-me") ...
      li.pagination__item
        a.pagination__link(href="/mock-address/change-me")=totalPages
      li.pagination__item
        a.pagination__link(href="/mock-address/change-me")
          i.pagination__next arrow_forward
    p.pagination__description 1 – #{elementsOnPage} из 100+ вариантов аренды
    
    