mixin pagination
  ul.pagination
    li
      a.pagination__link(href="/mock-address/change-me").pagination__link_current 1
    li
      a.pagination__link(href="/mock-address/change-me") 2
    li
      a.pagination__link(href="/mock-address/change-me") 3
    li
      a.pagination__link(href="/mock-address/change-me") ...
    li
      a.pagination__link(href="/mock-address/change-me") 15
    li
      a.pagination__link(href="/mock-address/change-me")
        i.pagination__next arrow_forward
    
    