@import '../../scss/mixins';

.pagination {
  &__pages {
    display: flex;
    justify-content: center;
    padding-left: 0;
  }

  &__item {
    list-style: none;
  }
  
  &__link {
    font-size: 12px;
    line-height: 14px;
    color: $dark-shade-50;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-decoration: none;
    user-select: none;

    &_current {
      background: linear-gradient(#bc9cff 0%, #8ba4f9 100%);
      color: #fff;
    }
  }

  &__next {
    @include Icon;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    padding: 13px 0;
    box-sizing: border-box;
    font-size: 24px;
    color: #fff;
    background: linear-gradient(#6fcf97 0%, #66d2ea 100%);
  }

  &__description {
    @include Body;
    text-align: center;
    padding-top: 10px;
  }
}
