include ../filter-date-dropdown/filter-date-dropdown
include ../dropdown/dropdown
include ../range-slider/range-slider
include ../checkbox/checkbox
include ../expandable-checkbox/expandable-checkbox

mixin search-filter
  aside.search-filter
    .search-filter__item
      +filter-date-dropdown("даты пребывания в отеле")
    .search-filter__item
      h3.search-filter__subtitle гости
      +dropdown({show: false, title: "Сколько гостей", controlBtn: true}, ["взрослые", "дети", "младенцы"])
    .search-filter__item.search-filter_indent_top
      h3.search-filter__subtitle диапазон цены
      +range-slider
      p.search-filter__comment Стоимость за сутки пребывания в номере
    .search-filter__item.search-filter_indent_top
      h3.search-filter__subtitle Checkbox Buttons
      +checkbox({
        rich: false, 
        items:
          [
            {description: "Можно курить"}, 
            {description: "Можно с питомцами", check: true}, 
            {description: "Можно пригласить гостей (до 10 человек)", check: true}
          ]
      })
    .search-filter__item
      h3.search-filter__subtitle доступность
      +checkbox({
        rich: true, 
        items:  
          [
            {title: "Широкий коридор", description: "Ширина коридоров в номере не менее 91 см."},
            {title: "Помощник для инвалидов", description: "На 1 этаже вас встретит специалист  и проводит до номера."}
          ]
      })
    .search-filter__item
      h3.search-filter__subtitle удобства номера
      +dropdown({show: false, title: "Сколько комнат", type: "room"}, ["спальни", "кровати", "ванные комнаты"])
    .search-filter__item
      +expandable-checkbox({
        title: "дополнительные удобства",  
        items: 
          [
            {description: "Завтрак"}, 
            {description: "Письменный стол", check: true}, 
            {description: "Стул для кормления", check: true}, 
            {description: "Кроватка", check: true}, 
            {description: "Телевизор"}, 
            {description: "Шампунь"}   
          ]
      })    