include ../date-field/date-field
include ../dropdown/dropdown
include ../range-slider/range-slider
include ../checkbox/checkbox
include ../expandable-checkbox/expandable-checkbox
include ../heading/heading

mixin search-filter
  aside.search-filter
    .search-filter__item
      +date-field({ name: "даты пребывания в отеле"})
    .search-filter__item
      .search-filter__subtitle
        +heading({ text: "гости", tag: "h3"})
      +dropdown({
        show: false, 
        title: "Сколько гостей", 
        controlBtn: true,
        items: [
          {name: "взрослые", group: "гости"}, 
          {name: "дети", group: "гости"}, 
          {name: "младенцы"}
        ]
      })
    .search-filter__item_high
      +heading({ text: "диапазон цены", tag: "h3"})
      +range-slider
      p.search-filter__comment Стоимость за сутки пребывания в номере
    .search-filter__item_high
      .search-filter__subtitle
        +heading({ text: "Checkbox Buttons", tag: "h3"})
      +checkbox({
        rich: false, 
        items:
          [
            {description: "Можно курить"}, 
            {description: "Можно с питомцами", isChecked: true}, 
            {description: "Можно пригласить гостей (до 10 человек)", isChecked: true}
          ]
      })
    .search-filter__item
      .search-filter__subtitle
        +heading({ text: "доступность", tag: "h3"})
      +checkbox({
        rich: true, 
        items:  
          [
            {title: "Широкий коридор", description: "Ширина коридоров в номере не менее 91 см."},
            {title: "Помощник для инвалидов", description: "На 1 этаже вас встретит специалист  и проводит до номера."}
          ]
      })
    .search-filter__item
      .search-filter__subtitle
        +heading({ text: "удобства номера", tag: "h3"})
      +dropdown({
        show: false, 
        title: "Сколько комнат",
        items: [
          {name: "спальни"}, 
          {name: "кровати"}, 
          {name: "ванные комнаты"}
        ]
      })
    .search-filter__item
      +expandable-checkbox({
        title: "дополнительные удобства",  
        items: 
          [
            {description: "Завтрак"}, 
            {description: "Письменный стол", isChecked: true}, 
            {description: "Стул для кормления", isChecked: true}, 
            {description: "Кроватка", isChecked: true}, 
            {description: "Телевизор"}, 
            {description: "Шампунь"}   
          ]
      })    