@import '../colors', '../fonts', '../page.scss';
@import '../../components/form-login/form-login.scss';

.container {
    width: 1440px;
    margin: 0 auto;
    background: url('./bg-registration.png') no-repeat;
    height: 702px;
    display: flex;
    align-items: center;
    justify-content: center;
}