@import '../../scss/mixins';

.review {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;

  &__icon {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  &__title {
    @include Body;
  
    align-self: center;
  }
  
  &__name, &__date {
    margin: 0;
  }

  &__text {
    @include Body;
    margin: 0;
  }
}
