include ../like-btn/like-btn

mixin review({name, src, voiceCounter, liked, comment})
  .review
    .review__icon
      img(src=src, alt=name)
    .review__title
      h4.review__name=name
      p.review__date 5 дней назад
    +like-btn({count: voiceCounter, liked: liked})
    p.review__text=comment