@import '../../scss/mixins';

.chart {
  display: flex;
  align-items: flex-end;
  margin: 0;

  @media (max-width: 350px) {
    flex-wrap: wrap;
  }

  &__content {
    margin-right: 26px;
  }

  &__text {
    @include H1;
    font-size: 6px;
    fill: $purple;

    &__number {
      text-anchor: middle;
      transform: translateY(-0.25em);
    }

    &__label {
      font-size: 4px;
      text-anchor: middle;
      transform: translateY(0.7em);
    }
  }

  &__legend {
    @include Body;
    line-height: 25px;
    padding: 0;
  
    @media (max-width: 350px) {
      margin-top: 10px;
    }
  }

  &__item {
    list-style: none;

    &::before {
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 50%;
      display: inline-block;
      margin-right: 5px;
      background: var(--legend-color);
    }
  }

  &__segment:hover,
  &__segment:hover + .chart__split {
    stroke-width: 4px;
  }
}
