.chart {
    display: flex;
    align-items: flex-end;
    margin: 0;
    @media (max-width: 350px) {
        flex-wrap: wrap;
    }
}
.chart__legend {
    @include Body;
    line-height: 25px;
    margin-left: 26px;
    .legend__item:before {
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 5px;
        background: var(--legend-color);
    }
    @media (max-width: 350px) {
        margin-top: 10px;
    }
}
.chart-text {
    @include H1;
    font-size: 6px;
    fill: $purple;
}
.chart-number {
    text-anchor: middle;
    -moz-transform: translateY(-0.25em);
    -ms-transform: translateY(-0.25em);
    -webkit-transform: translateY(-0.25em);
    transform: translateY(-0.25em);
}
.chart-label {
    font-size: 4px;
    text-anchor: middle;
    -moz-transform: translateY(0.7em);
    -ms-transform: translateY(0.7em);
    -webkit-transform: translateY(0.7em);
    transform: translateY(0.7em);
}
.donut__segment:hover, .donut__segment:hover+.donut__split {
    stroke-width: 4px;
}
