@font-face {
  font-family: Quicksand;
  src: url(fonts/Quicksand-Bold.ttf) format("truetype"), url(fonts/Quicksand-Bold.woff) format("woff"), url(fonts/Quicksand-Bold.svg) format("svg");
  font-weight: bold; }

@font-face {
  font-family: Montserrat;
  src: url(fonts/montserrat-bold.ttf) format("truetype"), url(fonts/montserrat-bold.woff) format("woff"), url(fonts/montserrat-bold.svg) format("svg");
  font-weight: bold; }

@font-face {
  font-family: Montserrat;
  src: url(fonts/montserrat-regular.ttf) format("truetype"), url(fonts/montserrat-regular.woff) format("woff"), url(fonts/montserrat-regular.svg) format("svg");
  font-weight: normal; }

@font-face {
  font-family: Material Icons;
  src: url(fonts/MaterialIcons-Regular.ttf) format("truetype"), url(fonts/MaterialIcons-Regular.woff) format("woff"), url(fonts/MaterialIcons-Regular.svg) format("svg");
  font-weight: normal; }

body {
  max-width: 1920px;
  min-width: 320px;
  margin: 0;
  padding: 70px 0; }

h1, h2, h3, h4, p, ul {
  margin: 0; }

a {
  text-decoration: none; }

ul {
  padding: 0; }

li {
  list-style: none; }

button {
  border: none;
  background: none; }

.logo {
  display: flex;
  align-items: center; }

.logo__icon {
  width: 40px;
  height: 40px;
  background: url(images/Logo.png) center/contain no-repeat;
  margin-right: 12px; }

.logo__text {
  width: 54px;
  height: 13px;
  background: url(images/TOXIN.png) center/contain no-repeat; }

.button, .button_border, .button_simple, .button_ghost, .button_arrow {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #1F2041;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 22px;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 18px;
  max-width: 320px; }

.button {
  color: #fff;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%); }
  .button:hover {
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%); }
  .button_border {
    color: #BC9CFF;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid;
    position: relative; }
    .button_border:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      margin: -2px;
      border-radius: inherit;
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%); }
  .button_border:hover::before {
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%); }
  .button_simple {
    color: #BC9CFF;
    padding-left: 0;
    padding-right: 0; }
  .button_simple:hover {
    color: rgba(31, 32, 65, 0.5); }
  .button_ghost {
    color: rgba(31, 32, 65, 0.5);
    padding-left: 0;
    padding-right: 0; }
  .button_arrow {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    width: 100%;
    max-width: 320px;
    color: #fff;
    text-align: center;
    position: relative; }
    .button_arrow i.material-icons {
      font-family: Material Icons;
      font-style: normal;
      font-weight: normal;
      text-transform: none;
      font-size: 24px;
      position: absolute;
      right: 12px; }

.header {
  max-width: 1920px;
  background-color: #fff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  padding: 14px 0;
  font-family: Montserrat;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px; }

.header__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1160px;
  box-sizing: border-box;
  margin: 0 auto; }
  @media (max-width: 1200px) {
    .header__wrapper {
      padding: 0 30px; } }
  @media (max-width: 450px) {
    .header__wrapper {
      padding: 0 15px; } }

.navigation__details {
  margin-right: 20px;
  cursor: pointer; }
  .navigation__details summary::-webkit-details-marker {
    display: none; }
  .navigation__details > summary {
    list-style: none; }
  .navigation__details summary {
    display: flex;
    color: rgba(31, 32, 65, 0.5); }
    .navigation__details summary:after {
      content: 'expand_more';
      font-family: Material Icons;
      font-size: 24px; }
  .navigation__details[open] summary:after {
    content: 'expand_less'; }

.header__navigation {
  display: flex;
  align-items: center; }

.navigation__list {
  display: flex; }
  .navigation__list .navigation__link {
    color: rgba(31, 32, 65, 0.5);
    margin-right: 30px; }
  @media (max-width: 900px) {
    .navigation__list {
      display: none; } }

.navigation__toolbar {
  display: flex;
  z-index: 0; }
  .navigation__toolbar a:not(:last-child) {
    margin-right: 20px; }
  .navigation__toolbar .user {
    border-left: 1px solid rgba(31, 32, 65, 0.1);
    padding-left: 30px; }
  @media (max-width: 440px) {
    .navigation__toolbar .button {
      display: none; } }

.burger {
  display: none;
  cursor: pointer; }
  .burger .burger__toggle::-webkit-details-marker {
    display: none; }
  .burger > .burger__toggle {
    list-style: none; }
  .burger .burger__toggle {
    font-family: Material Icons;
    font-size: 24px;
    color: rgba(31, 32, 65, 0.75); }
  .burger .burger__list {
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    background-color: #fff;
    z-index: 1;
    box-shadow: 0 10px 10px rgba(31, 32, 65, 0.5); }
    .burger .burger__list .list__item {
      padding: 10px 30px;
      border-bottom: 1px solid rgba(31, 32, 65, 0.5); }
    .burger .burger__list .burger__link {
      font-family: Montserrat;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: rgba(31, 32, 65, 0.75);
      text-transform: none;
      display: flex;
      width: 100%; }
  @media (max-width: 900px) {
    .burger {
      display: block;
      order: 3;
      margin-left: 20px; } }
  @media (max-width: 440px) {
    .burger {
      margin-left: 0; } }

.logo {
  display: flex;
  align-items: center; }

.logo__icon {
  width: 40px;
  height: 40px;
  background: url(images/Logo.png) center/contain no-repeat;
  margin-right: 12px; }

.logo__text {
  width: 54px;
  height: 13px;
  background: url(images/TOXIN.png) center/contain no-repeat; }

.subscription-input {
  display: flex;
  justify-content: space-between;
  width: 260px;
  height: 44px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  overflow: hidden; }
  .subscription-input input {
    border: none;
    padding-left: 15px;
    background-color: transparent;
    width: 100%; }
    .subscription-input input::placeholder {
      font-family: Montserrat;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: rgba(31, 32, 65, 0.75);
      text-transform: none;
      color: rgba(31, 32, 65, 0.25); }
  .subscription-input .subscription-input__button {
    width: 44px;
    background-color: #fff;
    border: none;
    cursor: pointer; }
    .subscription-input .subscription-input__button i.material-icons {
      background: linear-gradient(#BC9CFF 0%, #8BA4F9 100%);
      color: transparent;
      -webkit-background-clip: text;
      font-family: Material Icons;
      font-weight: normal;
      font-size: 24px; }

.footer {
  box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
  background-color: #fff; }
  @media (max-width: 1300px) {
    .footer .footer__section:not(:first-child) {
      display: none; }
    .footer .footer__navigation {
      grid-template-columns: 1fr;
      padding-bottom: 0; }
    .footer .footer__section {
      max-width: 260px;
      text-align: center;
      justify-self: center; }
      .footer .footer__section .logo {
        justify-self: center; }
    .footer .footer__wrapper {
      border-top: none; }
    .footer .copyright-bar {
      padding-bottom: 40px;
      flex-direction: column; }
      .footer .copyright-bar p {
        display: none; } }

.footer__navigation {
  max-width: 1160px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 100px 0 85px 0;
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr 260px;
  grid-gap: 40px;
  justify-items: center; }

.footer__section {
  display: grid;
  align-content: start;
  justify-self: start;
  grid-gap: 20px; }
  .footer__section:first-child {
    grid-gap: 14px; }

.navigation__group {
  font-family: Montserrat;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  text-transform: none;
  line-height: 17px; }
  .navigation__group .navigation__item {
    padding-bottom: 20px; }
  .navigation__group a {
    color: rgba(31, 32, 65, 0.5); }

.footer__subtitle {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #1F2041;
  text-transform: uppercase; }

.footer__description {
  font-family: Montserrat;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  text-transform: none; }

.footer__wrapper {
  border-top: 2px solid rgba(31, 32, 65, 0.1);
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05); }

.copyright-bar {
  font-family: Montserrat;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  text-transform: none;
  max-width: 1160px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 24px 0; }
  .copyright-bar p {
    line-height: 17px; }
  .copyright-bar .social {
    display: flex; }
    .copyright-bar .social .social__icon {
      width: 24px;
      height: 24px; }
      .copyright-bar .social .social__icon:not(:first-child) {
        margin-left: 20px; }
    .copyright-bar .social .twitter {
      background: url(images/Bar.png) left no-repeat; }
    .copyright-bar .social .fb {
      background: url(images/Bar.png) center no-repeat; }
    .copyright-bar .social .instagram {
      background: url(images/Bar.png) right no-repeat; }

.footer-creative {
  box-shadow: none;
  padding-bottom: 0; }
  .footer-creative .footer__section {
    max-width: 560px;
    text-align: center;
    justify-self: center; }
    .footer-creative .footer__section .logo {
      justify-content: center; }
  .footer-creative .footer__navigation {
    grid-template-columns: 1fr;
    padding-bottom: 0; }
  .footer-creative .footer__wrapper {
    border-top: none; }
  .footer-creative .copyright-bar {
    padding-bottom: 110px; }

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.center {
  display: flex;
  justify-content: center;
  align-items: center; }

body {
  display: grid;
  grid-row-gap: 40px;
  padding-top: 150px;
  padding-bottom: 130px;
  background: url(images/Logo2.png) 30px 30px no-repeat #E5E5E5; }

