@charset "UTF-8";
@font-face {
  font-family: Quicksand;
  src: url(fonts/Quicksand-Bold.ttf) format("truetype"), url(fonts/Quicksand-Bold.woff) format("woff"), url(fonts/Quicksand-Bold.svg) format("svg");
  font-weight: bold; }

@font-face {
  font-family: Montserrat;
  src: url(fonts/montserrat-bold.ttf) format("truetype"), url(fonts/montserrat-bold.woff) format("woff"), url(fonts/montserrat-bold.svg) format("svg");
  font-weight: bold; }

@font-face {
  font-family: Montserrat;
  src: url(fonts/montserrat-regular.ttf) format("truetype"), url(fonts/montserrat-regular.woff) format("woff"), url(fonts/montserrat-regular.svg) format("svg");
  font-weight: normal; }

@font-face {
  font-family: Material Icons;
  src: url(fonts/MaterialIcons-Regular.ttf) format("truetype"), url(fonts/MaterialIcons-Regular.woff) format("woff"), url(fonts/MaterialIcons-Regular.svg) format("svg");
  font-weight: normal; }

@font-face {
  font-family: Quicksand;
  src: url(fonts/Quicksand-Bold.ttf) format("truetype"), url(fonts/Quicksand-Bold.woff) format("woff"), url(fonts/Quicksand-Bold.svg) format("svg");
  font-weight: bold; }

@font-face {
  font-family: Montserrat;
  src: url(fonts/montserrat-bold.ttf) format("truetype"), url(fonts/montserrat-bold.woff) format("woff"), url(fonts/montserrat-bold.svg) format("svg");
  font-weight: bold; }

@font-face {
  font-family: Montserrat;
  src: url(fonts/montserrat-regular.ttf) format("truetype"), url(fonts/montserrat-regular.woff) format("woff"), url(fonts/montserrat-regular.svg) format("svg");
  font-weight: normal; }

@font-face {
  font-family: Material Icons;
  src: url(fonts/MaterialIcons-Regular.ttf) format("truetype"), url(fonts/MaterialIcons-Regular.woff) format("woff"), url(fonts/MaterialIcons-Regular.svg) format("svg");
  font-weight: normal; }

.logo {
  display: flex;
  align-items: center; }

.logo__icon {
  width: 40px;
  height: 40px;
  background: url(images/Logo.png) center/contain no-repeat;
  margin-right: 12px; }

.logo__text {
  width: 54px;
  height: 13px;
  background: url(images/TOXIN.png) center/contain no-repeat; }

.button, .button_border, .button_simple, .button_arrow {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #1F2041;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 22px;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 18px; }

.button {
  color: #fff;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%); }
  .button:hover {
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%); }
  .button_border {
    color: #BC9CFF;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid transparent;
    position: relative; }
    .button_border:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      margin: -2px;
      border-radius: inherit;
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%); }
  .button_border:hover::before {
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%); }
  .button_simple {
    color: #BC9CFF; }
  .button_simple:hover {
    color: rgba(31, 32, 65, 0.5); }
  .button_arrow {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    max-width: 320px;
    color: #fff;
    text-align: center;
    position: relative; }
    .button_arrow i.material-icons {
      font-family: Material Icons;
      font-style: normal;
      font-weight: normal;
      text-transform: none;
      font-size: 24px;
      position: absolute;
      right: 12px; }
    @media (max-width: 350px) {
      .button_arrow {
        justify-content: flex-start; } }

.header {
  max-width: 1920px;
  background-color: #fff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  padding: 14px 0;
  font-family: Montserrat;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px; }

.header__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1160px;
  box-sizing: border-box;
  margin: 0 auto; }
  @media (max-width: 1200px) {
    .header__wrapper {
      padding: 0 30px; } }

.navigation__details {
  margin-right: 20px;
  cursor: pointer; }
  .navigation__details summary::-webkit-details-marker {
    display: none; }
  .navigation__details > summary {
    list-style: none; }
  .navigation__details summary {
    display: flex;
    color: rgba(31, 32, 65, 0.5); }
    .navigation__details summary:after {
      content: 'expand_more';
      font-family: Material Icons;
      font-size: 24px; }
  .navigation__details[open] summary:after {
    content: 'expand_less'; }

.header__navigation {
  display: flex;
  align-items: center; }

.navigation__list {
  display: flex; }
  .navigation__list .navigation__link {
    color: rgba(31, 32, 65, 0.5);
    margin-right: 30px; }
  @media (max-width: 900px) {
    .navigation__list {
      display: none; } }

.navigation__toolbar {
  display: flex;
  z-index: 0; }
  .navigation__toolbar a:not(:last-child) {
    margin-right: 20px; }
  .navigation__toolbar .user {
    border-left: 1px solid rgba(31, 32, 65, 0.1);
    padding-left: 30px; }

.burger {
  display: none;
  cursor: pointer; }
  .burger .burger__toggle::-webkit-details-marker {
    display: none; }
  .burger > .burger__toggle {
    list-style: none; }
  .burger .burger__toggle {
    font-family: Material Icons;
    font-size: 24px;
    color: rgba(31, 32, 65, 0.75); }
  .burger .burger__list {
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    background-color: #fff; }
    .burger .burger__list .list__item {
      padding: 10px 30px;
      border-bottom: 1px solid rgba(31, 32, 65, 0.5); }
    .burger .burger__list .burger__link {
      font-family: Montserrat;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: rgba(31, 32, 65, 0.75);
      text-transform: none;
      display: inline-block;
      width: 100%; }
  @media (max-width: 900px) {
    .burger {
      display: block;
      order: 3;
      margin-left: 20px; } }

.logo {
  display: flex;
  align-items: center; }

.logo__icon {
  width: 40px;
  height: 40px;
  background: url(images/Logo.png) center/contain no-repeat;
  margin-right: 12px; }

.logo__text {
  width: 54px;
  height: 13px;
  background: url(images/TOXIN.png) center/contain no-repeat; }

.footer {
  box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
  background-color: #fff; }
  @media (max-width: 1300px) {
    .footer .footer__section:not(:first-child) {
      display: none; }
    .footer .footer__navigation {
      grid-template-columns: 1fr;
      padding-bottom: 0; }
    .footer .footer__section {
      max-width: 260px;
      text-align: center;
      justify-self: center; }
      .footer .footer__section .logo {
        justify-self: center; }
    .footer .footer__wrapper {
      border-top: none; }
    .footer .copyright-bar {
      padding-bottom: 40px;
      flex-direction: column; }
      .footer .copyright-bar p {
        display: none; } }

.footer__navigation {
  max-width: 1160px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 100px 0 85px 0;
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr 260px;
  grid-gap: 40px;
  justify-items: center; }

.footer__section {
  display: grid;
  align-content: start;
  justify-self: start;
  grid-gap: 20px; }
  .footer__section:first-child {
    grid-gap: 14px; }

.navigation__group {
  font-family: Montserrat;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  text-transform: none;
  line-height: 17px; }
  .navigation__group .navigation__item {
    padding-bottom: 20px; }
  .navigation__group a {
    color: rgba(31, 32, 65, 0.5); }

.footer__subtitle {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #1F2041;
  text-transform: uppercase; }

.footer__description {
  font-family: Montserrat;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  text-transform: none; }

.footer__subscribe {
  display: flex;
  justify-content: space-between;
  width: 260px;
  height: 44px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  overflow: hidden; }
  .footer__subscribe input {
    border: none;
    padding-left: 15px;
    background-color: transparent;
    width: 100%; }
    .footer__subscribe input::placeholder {
      font-family: Montserrat;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: rgba(31, 32, 65, 0.75);
      text-transform: none;
      color: rgba(31, 32, 65, 0.25); }
  .footer__subscribe .footer__button {
    width: 44px;
    background-color: #fff;
    border: none;
    cursor: pointer; }
    .footer__subscribe .footer__button i.material-icons {
      background: linear-gradient(#BC9CFF 0%, #8BA4F9 100%);
      color: transparent;
      -webkit-background-clip: text;
      font-family: Material Icons;
      font-weight: normal;
      font-size: 24px; }

.footer__wrapper {
  border-top: 2px solid rgba(31, 32, 65, 0.1);
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05); }

.copyright-bar {
  font-family: Montserrat;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  text-transform: none;
  max-width: 1160px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 24px 0; }
  .copyright-bar p {
    line-height: 17px; }
  .copyright-bar .social {
    display: flex; }
    .copyright-bar .social .social__icon {
      width: 24px;
      height: 24px; }
      .copyright-bar .social .social__icon:not(:first-child) {
        margin-left: 20px; }
    .copyright-bar .social .twitter {
      background: url(images/Bar.png) left no-repeat; }
    .copyright-bar .social .fb {
      background: url(images/Bar.png) center no-repeat; }
    .copyright-bar .social .instagram {
      background: url(images/Bar.png) right no-repeat; }

.footer-creative {
  box-shadow: none;
  padding-bottom: 0; }
  .footer-creative .footer__section {
    max-width: 560px;
    text-align: center;
    justify-self: center; }
    .footer-creative .footer__section .logo {
      justify-content: center; }
  .footer-creative .footer__navigation {
    grid-template-columns: 1fr;
    padding-bottom: 0; }
  .footer-creative .footer__wrapper {
    border-top: none; }
  .footer-creative .copyright-bar {
    padding-bottom: 110px; }

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.center {
  display: flex;
  justify-content: center;
  align-items: center; }

body {
  max-width: 1920px;
  min-width: 320px;
  margin: 0; }

h1, h2, h3, h4, p, ul {
  margin: 0; }

a {
  text-decoration: none; }

ul {
  padding: 0; }

li {
  list-style: none; }

.date-dropdown {
  width: 150px;
  height: 44px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 11px; }
  .date-dropdown .datepicker-here {
    font-family: Montserrat;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    text-transform: none;
    border: none;
    width: 90px; }
  .date-dropdown i.material-icons {
    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    font-size: 24px;
    cursor: pointer; }

.datepicker {
  width: 320px;
  padding: 20px;
  box-sizing: border-box;
  font-family: Montserrat;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: rgba(31, 32, 65, 0.5); }
  .datepicker .datepicker--nav {
    border-bottom: none;
    padding: 0 0 20px 0; }
  .datepicker .datepicker--content {
    width: 280px; }
  .datepicker .datepicker--cell-day {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff; }
  .datepicker .-in-range- {
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
    border-radius: 0; }
  .datepicker .datepicker--cell.-range-to-, .datepicker .datepicker--cell.-range-from- {
    border: 1px solid #BC9CFF; }
  .datepicker .datepicker--cell.-range-from-.-selected- {
    border: none; }
  .datepicker .datepicker--cell.-range-from-, .datepicker .datepicker--cell.-range-from-.-current- {
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
    border-radius: 50% 0 0 50%; }
  .datepicker .datepicker--cell.-selected-.-range-to- {
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
    border-radius: 0 50% 50% 0;
    border: none; }
  .datepicker .datepicker--cell.-selected- {
    color: #fff;
    font-weight: bold;
    position: relative; }
    .datepicker .datepicker--cell.-selected-:before {
      content: "";
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      position: absolute;
      z-index: -1; }
  .datepicker .-current-, .datepicker .datepicker--cell.-selected-.-current- {
    color: #fff;
    font-weight: bold;
    position: relative; }
    .datepicker .-current-:before, .datepicker .datepicker--cell.-selected-.-current-:before {
      content: "";
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
      position: absolute;
      z-index: -1; }
  .datepicker .datepicker--cell.-focus-, .datepicker .datepicker--cell.-range-from-.-current-.-focus- {
    background: none; }

.datepicker--nav-title, .datepicker--nav-title i {
  font-family: Quicksand;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #1F2041; }

.datepicker--nav-action i.material-icons {
  color: #BC9CFF;
  font-family: Material Icons;
  font-style: normal;
  font-size: 24px; }

.datepicker--day-name {
  color: #BC9CFF;
  font-weight: bold; }

.datepicker--buttons {
  border-top: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px; }

.datepicker--button {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #1F2041;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5);
  display: inline;
  height: unset; }
  .datepicker--button:hover {
    background: none; }

.apply--button {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #1F2041;
  text-transform: uppercase;
  color: #BC9CFF;
  cursor: pointer; }

.datepicker--pointer {
  display: none; }

.dropdown {
  width: 100%;
  position: relative; }
  .dropdown .dropdown__selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 2px 2px 0 0;
    padding: 0 12px;
    height: 44px;
    box-sizing: border-box;
    font-family: Montserrat;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    text-transform: none;
    line-height: 18px; }
    .dropdown .dropdown__selection .dropdown__title {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap; }
    .dropdown .dropdown__selection .arrow_direction_bottom {
      font-family: Material Icons;
      font-style: normal;
      font-weight: normal;
      text-transform: none;
      font-size: 24px;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      cursor: pointer; }
  .dropdown .dropdown__menu {
    display: none; }

.show .dropdown__selection {
  border: 1px solid rgba(31, 32, 65, 0.5); }

.show .dropdown__menu {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #1F2041;
  text-transform: uppercase;
  display: block;
  padding: 7px 7px 7px 15px;
  border-radius: 0 0 2px 2px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-top: none;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 10;
  position: absolute; }
  .show .dropdown__menu .menu__option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 7px; }
    .show .dropdown__menu .menu__option .option__title {
      font-family: Montserrat;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      color: #1F2041;
      text-transform: uppercase; }
    .show .dropdown__menu .menu__option .option__counter {
      display: flex; }
    .show .dropdown__menu .menu__option input {
      width: 30px;
      border: none;
      font-family: Montserrat;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      color: #1F2041;
      text-transform: uppercase;
      text-align: center; }
    .show .dropdown__menu .menu__option .counter__increment {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid rgba(31, 32, 65, 0.5);
      display: flex;
      justify-content: center;
      align-items: center; }
    .show .dropdown__menu .menu__option .counter__decrement {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid rgba(31, 32, 65, 0.5);
      display: flex;
      justify-content: center;
      align-items: center; }
    .show .dropdown__menu .menu__option .counter__increment:before {
      font-family: Montserrat;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      color: rgba(31, 32, 65, 0.5); }
    .show .dropdown__menu .menu__option .counter__decrement:before {
      font-family: Montserrat;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      color: rgba(31, 32, 65, 0.5); }
    .show .dropdown__menu .menu__option .counter__increment:before {
      content: "+"; }
    .show .dropdown__menu .menu__option .counter__decrement:before {
      content: "-"; }
  .show .dropdown__menu .menu__control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px; }
    .show .dropdown__menu .menu__control .clean {
      color: rgba(31, 32, 65, 0.5);
      cursor: pointer;
      visibility: hidden; }
    .show .dropdown__menu .menu__control .accept {
      color: #BC9CFF;
      cursor: pointer; }

.irs--flat {
  width: 266px; }
  .irs--flat .irs-line {
    box-sizing: border-box;
    height: 6px;
    border-radius: 3px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    background-color: #fff;
    top: 30px; }
  .irs--flat .irs-bar {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    height: 6px;
    top: 30px; }
  .irs--flat .irs-handle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #fff;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    box-sizing: content-box;
    top: 25px; }
  .irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
    visibility: hidden !important; }
    .irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before {
      display: none; }
  .irs--flat .irs-single {
    visibility: visible !important;
    left: auto !important;
    right: 0;
    font-family: Montserrat;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: rgba(31, 32, 65, 0.5);
    text-transform: uppercase;
    background-color: #fff; }

.irs--flat .irs-handle > i:first-child {
  display: none; }

.irs-from {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #1F2041;
  text-transform: uppercase; }

.rate-btn .rate-btn__item {
  position: relative; }

.rate-btn i.material-icons {
  font-family: Material Icons;
  font-style: normal;
  font-size: 24px;
  color: #BC9CFF; }

.rate-btn input {
  opacity: 0;
  position: absolute;
  left: 0; }

.card-room {
  width: 270px;
  background-color: #fff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  overflow: hidden;
  height: 257px; }

.card-room__footer {
  padding: 15px 20px 20px 20px; }

.card-room__room-details {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-bottom: 5px; }

.room-details__room-number {
  font-family: Quicksand;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #1F2041;
  margin: 0; }
  .room-details__room-number:before {
    content: "№ ";
    font-size: 14px; }
  .room-details__room-number span {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #1F2041;
    text-transform: uppercase;
    color: #BC9CFF; }

.room-details__price {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5); }
  .room-details__price:after {
    content: " в сутки";
    font-weight: normal; }

.card-room__room-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(31, 32, 65, 0.1);
  padding-top: 8px; }

.room-rating__comments {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5); }
  .room-rating__comments:after {
    content: " Отзывов";
    font-weight: normal; }

.card-room__image {
  position: relative; }

.card-room__slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px; }
  .card-room__slider i.material-icons {
    font-family: Material Icons;
    font-style: normal;
    font-size: 24px;
    color: #fff;
    transform: rotate(-90deg); }
    .card-room__slider i.material-icons:first-child {
      transform: rotate(90deg); }

.input_checkbox {
  padding-top: 10px;
  font-family: Montserrat;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5); }
  .input_checkbox label {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px; }
    .input_checkbox label input {
      position: absolute;
      opacity: 0;
      height: 0;
      width: 0; }
      .input_checkbox label input:checked ~ .checkmark {
        border-color: #BC9CFF; }
      .input_checkbox label input:checked ~ .checkmark:after {
        display: block;
        width: 6px;
        height: 8px;
        border: solid #BC9CFF;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
    .input_checkbox label .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      background-color: #fff;
      border-radius: 4px;
      border: 1px solid rgba(31, 32, 65, 0.25);
      box-sizing: border-box;
      display: flex;
      justify-content: center; }
      .input_checkbox label .checkmark:after {
        content: "";
        display: none; }

.input_checkbox {
  padding-top: 10px;
  font-family: Montserrat;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5); }
  .input_checkbox label {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px; }
    .input_checkbox label input {
      position: absolute;
      opacity: 0;
      height: 0;
      width: 0; }
      .input_checkbox label input:checked ~ .checkmark {
        border-color: #BC9CFF; }
      .input_checkbox label input:checked ~ .checkmark:after {
        display: block;
        width: 6px;
        height: 8px;
        border: solid #BC9CFF;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
    .input_checkbox label .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      background-color: #fff;
      border-radius: 4px;
      border: 1px solid rgba(31, 32, 65, 0.25);
      box-sizing: border-box;
      display: flex;
      justify-content: center; }
      .input_checkbox label .checkmark:after {
        content: "";
        display: none; }

.expanded-checkbox__selection {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .expanded-checkbox__selection .selection__title {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #1F2041;
    text-transform: uppercase; }
  .expanded-checkbox__selection .selection__button {
    cursor: pointer; }
  .expanded-checkbox__selection i.material-icons {
    font-family: Material Icons;
    font-style: normal;
    font-size: 24px;
    color: rgba(31, 32, 65, 0.5); }

.expanded-checkbox__list {
  display: none; }

.show .selection__button {
  transform: rotate(180deg); }

.show .expanded-checkbox__list {
  display: block; }

.pagination {
  display: flex;
  justify-content: center; }
  .pagination a {
    font-family: Montserrat;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: rgba(31, 32, 65, 0.5);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; }
    .pagination a.current {
      background: linear-gradient(#BC9CFF 0%, #8BA4F9 100%);
      color: #fff; }
  .pagination i.material-icons {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    padding: 13px 0;
    box-sizing: border-box;
    font-family: Material Icons;
    font-style: normal;
    font-size: 24px;
    color: #fff;
    background: linear-gradient(#6FCF97 0%, #66D2EA 100%); }

.container {
  width: 1440px;
  margin: 0 auto;
  background-color: #fff;
  padding: 30px 140px;
  box-sizing: border-box; }

.search-room {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 60px; }
  .search-room .filter__comment {
    font-family: Montserrat;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: rgba(31, 32, 65, 0.5);
    padding-top: 10px; }
  .search-room .filter__item {
    padding-bottom: 30px; }
    .search-room .filter__item:first-child {
      padding-bottom: 20px; }
  .search-room .filter__title {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #1F2041;
    text-transform: uppercase;
    padding-bottom: 5px; }
  .search-room .search-room__title {
    font-family: Quicksand;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #1F2041;
    padding-bottom: 20px; }
  .search-room .search-room__rooms {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px 12px; }

.search-room__pagination {
  margin-top: 40px; }

