include ../date-dropdown/date-dropdown
include ../dropdown/dropdown  

mixin form-selection
  form.form-selection
    h1.form-selection__title Найдём номера под ваши пожелания
    .form-selection__date-picker-wrapper
      +date-dropdown("прибытие", "выезд")
    .form-selection__dropdown-wrapper
      h3.form-selection__sub-title гости
      +dropdown({show: false, title: ""}, ["взрослые", "дети", "младенцы"])
    .form-selection__footer
      a(href="search-room.html" aria-label="подобрать номер").button.button_arrow подобрать номер
        i.material-icons arrow_forward