include ../date-dropdown/date-dropdown
include ../dropdown/dropdown 
include ../button/button 
include ../heading/heading

mixin form-selection
  form.form-selection
    +heading({text: "Найдём номера под ваши пожелания", tag: "h1"})
    .form-selection__date-picker-wrapper
      +date-dropdown({
        titles: [
          {name: "прибытие"}, 
          {name: "выезд"}
        ]
      })
    .form-selection__dropdown-wrapper
      .form-selection__subtitle
        +heading({ text: "гости", tag: "h3"})
      +dropdown({
        show: false, 
        title: "Сколько гостей", 
        controlBtn: true,
        items: [
          {name: "взрослые", group: "гости"}, 
          {name: "дети", group: "гости"}, 
          {name: "младенцы"}
        ]
      })
    .form-selection__footer
      +button({href:"search-room.html", text: "подобрать номер", style: "arrow", size: "m"})