@import '../form/form.scss';
@import '../date-dropdown/date-dropdown.scss';
@import '../dropdown/dropdown.scss';
@import '../button/button.scss';

.form-selection__date-picker-wrapper {
    display: flex;
    justify-content: space-between;
    @media (max-width: 440px) {
        flex-direction: column;
        .date-dropdown {
            width: unset;
        }
    }
}
.form-selection__footer {
    margin-top: 10px;
}
