include ../date-dropdown/date-dropdown
include ../dropdown/dropdown 
include ../button/button 

mixin form-selection
  form.form-selection
    h1.form-selection__title Найдём номера под ваши пожелания
    .form-selection__date-picker-wrapper
      +date-dropdown({
        title1: "прибытие", 
        title2: "выезд"
      })
    .form-selection__dropdown-wrapper
      h3.form-selection__sub-title гости
      +dropdown({
        show: false, 
        title: "Сколько гостей", 
        controlBtn: true,
        items: [
          {name: "взрослые", group: "гости"}, 
          {name: "дети", group: "гости"}, 
          {name: "младенцы"}
        ]
      })
    .form-selection__footer
      +button({href:"search-room.html", text: "подобрать номер", style: "arrow", size: "m"})