@import '../../scss/mixins';

.button {
  @include H3;
  border-radius: 22px;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: none;

  &:focus {
    outline: none;
  }

  &_with {
    &_gradient {
      color: #fff;
      background: $purple-gradient;
      
      &:hover {
        background: $purple-ghost;
      }
    }

    &_border {
      color: $purple;
      background-color: #fff;
      border: 2px solid transparent;
      background-clip: padding-box;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        margin: -2px;
        border-radius: inherit;
        background: $purple-gradient;
      }

      &:hover::before {
        background: $purple-ghost;
      }
    }

    &_arrow {
      background: $purple-gradient;
      width: 100%;
      color: #fff;
      text-align: center;
      position: relative;

      &:after {
        content: 'arrow_forward';
        @include Icon;
        font-size: 24px;
        position: absolute;
        right: 12px;
      }

      &:hover {
        background: $purple-ghost;
      }
    }

    &_link {
      color: $purple;
      padding-left: 0;
      padding-right: 0;
      background: none;

      &:hover {
        color: $dark-shade-50;
      }
    }

    &_ghost-link {
      color: $dark-shade-50;
      padding-left: 0;
      padding-right: 0;
      background: none;
    }
  }
  
  &_size_s {
    padding: 8px 20px;
    height: 100%;
  }

  &_size_m {
    padding: 12px 24px;
    min-height: 44px;
  }
}

