.form {
    width: 380px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    box-sizing: border-box;
    padding: 40px 30px 30px 30px;
    display: grid;
    grid-row-gap: 20px;
    .input_default:not(:last-child) {
        margin-bottom: 10px;
    }
}
.form__title {
    @include H1;
}
.form__sub-title {
    @include H3;
    padding-bottom: 5px;
}
.form__footer {
    margin-top: 10px;
}
