@import '../../scss/vars', '../../scss/mixins';

.search-room {
  width: $content-width;
  margin: 28px auto 70px auto;
  box-sizing: border-box;
  background-color: #fff;
  display: grid;
  grid-template-columns: 266px auto;
  grid-gap: 60px;

  &__result {
    margin-top: 4px;
  }

  &__title {
    @include H1;
    padding-bottom: 20px;
  }

  &__rooms {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 18px 12px;

    @media (max-width: 1200px) {
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }

  &__pagination {
    margin-top: 40px;
    padding-right: 12px;
  }

  @media (max-width: 1200px) {
    width: unset;
    padding: 0 $space-x;
  }

  @media (max-width: 940px) {
    grid-template-columns: 1fr;
  }

  @media (max-width: 450px) {
    padding: 0 $space-x/2;
  }
}


