extends ../../components/layout-page/layout-page
include ../../components/search-filter/search-filter
include ../../components/card-room/card-room
include ../../components/pagination/pagination
include ../../components/heading/heading

block variables
  - const pageTitle = 'Search room page'
  - const rooms = [
  - {number: "888", price: "9990", url: "images/room1.png", lux: true, stars: "5", reviews: "145", link: "room-details.html"},
  - {number: "840", price: "9900", url: "images/room2.png", lux: false, stars: "4", reviews: "65", link: "room-details.html"},
  - {number: "980", price: "8500", url: "images/image3.png", lux: true, stars: "3", reviews: "35", link: "room-details.html"},
  - {number: "856", price: "7300", url: "images/image5.png", lux: false, stars: "5", reviews: "19", link: "room-details.html"},
  - {number: "740", price: "6000", url: "images/image4.png", lux: false, stars: "4", reviews: "44", link: "room-details.html"},
  - {number: "982", price: "5800", url: "images/image6.png", lux: false, stars: "3", reviews: "56", link: "room-details.html"},
  - {number: "678", price: "5500", url: "images/image11.png", lux: false, stars: "5", reviews: "45", link: "room-details.html"},
  - {number: "450", price: "5300", url: "images/image7.png", lux: false, stars: "4", reviews: "39", link: "room-details.html"},
  - {number: "350", price: "5000", url: "images/image12.png", lux: false, stars: "3", reviews: "77", link: "room-details.html"},
  - {number: "666", price: "5000", url: "images/image8.png", lux: false, stars: "5", reviews: "25", link: "room-details.html"},
  - {number: "444", price: "5000", url: "images/image9.png", lux: false, stars: "3", reviews: "15", link: "room-details.html"},
  - {number: "352", price: "5000", url: "images/image10.png", lux: false, stars: "3", reviews: "55", link: "room-details.html"}    
  - ]

block main 
  main.search-room
    +search-filter
    .search-room__result
      .search-room__title
        +heading({ text: "Номера, которые мы для вас подобрали", tag: "h1"})
      .search-room__rooms
        each room in rooms
          +card-room(room)
      .search-room__pagination
        +pagination({currentPage: 1, totalPages: 15, elementsOnPage: 12})

    