extends ../page-template
include ../../components/search-filter/search-filter
include ../../components/card-room/card-room
include ../../components/pagination/pagination
include ../../components/heading/heading

block variables
  - 
    const pageTitle = 'Search room page'
    const rooms = [
      {
        number: "888", price: "9990", 
        images: ["images/room1.png", "images/room1.png", "images/room1.png", "images/room1.png"],
        isLux: true, 
        stars: "5", 
        reviews: "145", 
        link: "room-details.html"
      },
      {
        number: "840", 
        price: "9900", 
        images: ["images/room2.png", "images/room2.png", "images/room2.png", "images/room2.png"], 
        isLux: false, 
        stars: "4", 
        reviews: "65", 
        link: "room-details.html"
      },
      {
        number: "980", 
        price: "8500", 
        images: ["images/image3.png", "images/image3.png", "images/image3.png", "images/image3.png"], 
        isLux: true, 
        stars: "3", 
        reviews: "35", 
        link: "room-details.html"
      },
      {
        number: "856", 
        price: "7300", 
        images: ["images/image5.png", "images/image5.png", "images/image5.png", "images/image5.png"], 
        isLux: false, 
        stars: "5", 
        reviews: "19", 
        link: "room-details.html"
      },
      {
        number: "740", 
        price: "6000", 
        images: ["images/image4.png", "images/image4.png", "images/image4.png", "images/image4.png"], 
        isLux: false, 
        stars: "4", 
        reviews: "44", 
        link: "room-details.html"
      },
      {
        number: "982", 
        price: "5800", 
        images: ["images/image6.png", "images/image6.png", "images/image6.png", "images/image6.png"], 
        isLux: false, 
        stars: "3", 
        reviews: "56", 
        link: "room-details.html"
      },
      {
        number: "678", 
        price: "5500", 
        images: ["images/image11.png", "images/image11.png", "images/image11.png", "images/image11.png"], 
        isLux: false, 
        stars: "5", 
        reviews: "45", 
        link: "room-details.html"
      },
      {
        number: "450", 
        price: "5300", 
        images: ["images/image7.png", "images/image7.png", "images/image7.png", "images/image7.png"], 
        isLux: false, 
        stars: "4", 
        reviews: "39", 
        link: "room-details.html"},
      {
        number: "350", 
        price: "5000", 
        images: ["images/image12.png", "images/image12.png", "images/image12.png", "images/image12.png"], 
        isLux: false, 
        stars: "3", 
        reviews: "77", 
        link: "room-details.html"
      },
      {
        number: "666", 
        price: "5000", 
        images: ["images/image8.png", "images/image8.png", "images/image8.png", "images/image8.png"], 
        isLux: false, stars: "5", 
        reviews: "25", 
        link: "room-details.html"
      },
      {
        number: "444", 
        price: "5000", 
        images: ["images/image9.png", "images/image9.png", "images/image9.png", "images/image9.png"], 
        isLux: false, 
        stars: "3", 
        reviews: "15", 
        link: "room-details.html"
      },
      {
        number: "352",
        price: "5000", 
        images: ["images/image10.png", "images/image10.png", "images/image10.png", "images/image10.png"], 
        isLux: false, stars: "3", 
        reviews: "55", 
        link: "room-details.html"
      }    
    ]

block main 
  main.search-room
    +search-filter
    .search-room__result
      .search-room__title
        +heading({ text: "Номера, которые мы для вас подобрали", tag: "h1"})
      .search-room__rooms
        each room in rooms
          +card-room(room)
      .search-room__pagination
        +pagination({currentPage: 1, totalPages: 15, elementsOnPage: 12})

    