include ../input/input
mixin form-login
    .form.form-login
        h1.form__title Войти
        .form__section
            +input(false, "Email")
            +input(false, "Пароль")
        .form__section
            button.button_arrow войти
                i.material-icons arrow_forward
        .form__footer
            p Нет аккаунта на Toxin?
            a(href="registration.html").button_border.form__button создать

