@import '../../pages/mixins';
@import '../../pages/fonts';
@import '../../pages/sizes';
@import '../field/field.scss';
@import '../button/button.scss';

.form-login {
  @include form;

  .form-login__title {
    @include H1;
  }

  .form-login__section {
    display: grid;
    grid-row-gap: 10px;
  }

  .form-login__footer {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 0;
  }

  [class^=button] {
    height: 44px;
    padding: 8px 18px;
  }

  p {
    @include Body;
  }
}
