include ../field/field
include ../button/button
include ../heading/heading

mixin form-login
  form.form-login
    +heading({ text: "Войти", tag: "h1"})
    .form-login__section
      +field({type: "email", placeholder: "Email"})
      +field({type: "password", placeholder: "Пароль"})
    .form-login__section
      +button({text: "войти", style: "arrow", size: "m"})
    .form-login__footer
      p.form-login__question Нет аккаунта на Toxin?
      +button({href: "registration.html", text: "создать", style: "border", size: "m"})

