include ../field/field

mixin form-login
  form.form-login
    h1.form-login__title Войти
    .form-login__section
      +field(false, "email", "Email")
      +field(false, "password", "Пароль")
    .form-login__section
      button.button.button_arrow(type="submit") войти
        i.material-icons arrow_forward
    .form-login__footer
      p Нет аккаунта на Toxin?
      a(href="registration.html").button_border создать

