include ../field/field

mixin date-dropdown(title1, title2)
  .date-dropdown.js-date-dropdown
    label.date-dropdown__title=title1
      .date-dropdown__control.js-date-dropdown__control
        +field({type: "text", placeholder: "ДД.ММ.ГГГГ", datepicker: true, readonly: true})
    label.date-dropdown__title=title2
      .date-dropdown__control.js-date-dropdown__control
        +field({type: "text", placeholder: "ДД.ММ.ГГГГ", datepicker: true, readonly: true})