mixin date-dropdown(title1, title2)
    .date-dropdown.js-date-dropdown
        label.date-dropdown__title=title1
            .date-dropdown__control.datepicker__control
                input.datepicker-here.datepicker-start.js-datepicker-start(type="text" placeholder="ДД.ММ.ГГГГ" readonly)
                i.material-icons.dropdown-arrow expand_more
        label.date-dropdown__title=title2
            .date-dropdown__control.datepicker__control
                input.datepicker-here.datepicker-end.js-datepicker-end(type="text" placeholder="ДД.ММ.ГГГГ" readonly)
                i.material-icons.dropdown-arrow expand_more
        