include ../field/field
include ../date-field/date-field

mixin date-dropdown({ titles=[{name}] } = {})
  .date-dropdown.js-date-dropdown
    each title in titles
      +date-field({ name: title.name})