@import '../../scss/fonts';
@import '../../scss/vars';
@import '../../scss/mixins';
@import '../datepicker/datepicker.scss';
@import '../field/field.scss';

.date-dropdown {
  display: grid;
  grid-template-columns: 1fr 1fr;;
  grid-column-gap: 20px;
  justify-content: space-between;
  position: relative;
  max-width: 320px;
}