@import '../../scss/fonts';
@import '../../scss/vars';
@import '../../scss/mixins';

.subscription-input {
  display: flex;
  justify-content: space-between;
  max-width: 265px;
  height: 44px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid $dark-shade-25;
  overflow: hidden;

  &__input {
    border: none;
    padding: 7px 15px;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;

    &::placeholder {
      @include Body;

      color: $dark-shade-25;
    }
  }

  &__button {
    width: 44px;
    background-color: #fff;
    border: none;
    cursor: pointer;
  }
}
