mixin advantages({icon, title, description}={})
  .advantages
    i.advantages__icon= icon
    .advantages__description
      h4.advantages__title= title
      p.advantages__text= description 
                
