mixin advantages(item)
  .advantages
    i.advantages__icon= item.icon
    .advantages__description
      h4.advantages__title= item.title
      p.advantages__text= item.description 
                
