include ../checkbox/checkbox

mixin expandable-checkbox(title, items)
  .expandable-checkbox.js-expandable-checkbox
    .expandable-checkbox__selection.js-expandable-checkbox__selection
      h3.expandable-checkbox__title=title
      .expandable-checkbox__button expand_more
    .expandable-checkbox__list
      +checkbox(false, items)
  
                    