include ../checkbox/checkbox
mixin expandable-checkbox(title, ...items)
    .expanded-checkbox
        .expanded-checkbox__selection
            h3=title
            .selection__button
                i.material-icons expand_more
        .expanded-checkbox__list
            +checkbox(false, ...items)