@import '../../components/layout-base/layout-base.scss';
@import '../../scss/mixins', '../../scss/vars';
@import '../../components/button/button.scss';
@import '../../components/like-btn/like-btn.scss';
@import '../../components/advantages/advantages.scss';
@import '../../components/field/field.scss';
@import '../../components/dropdown/dropdown.scss';
@import '../../components/date-dropdown/date-dropdown.scss';
@import '../../components/filter-date-dropdown/filter-date-dropdown.scss';
@import '../../components/rate-btn/rate-btn.scss';
@import '../../components/expandable-checkbox/expandable-checkbox.scss';
@import '../../components/toggle/toggle.scss';
@import '../../components/radio-button/radio-button.scss';
@import '../../components/checkbox/checkbox.scss';
@import '../../components/range-slider/range-slider.scss';
@import '../../components/pagination/pagination.scss';
@import '../../components/review/review.scss';
@import '../../components/bullet-list/bullet-list.scss';
@import '../../components/subscription-input/subscription-input.scss';



.form-elements {
  background-color: #fff;
  width: $content-width;
  margin: 0 auto;
  padding: $space-y 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 130px;

  &__section {
    display: grid;
    grid-row-gap: 40px;
  }

  &__block {
    display: grid;
    grid-gap: 20px;
  }

  &__item {
    @media (max-width: 1240px) {
      width: 266px;
    }
  }

  &__subtitle {
    @include H3;
    padding-bottom: 5px;
    position: relative;
  
    &::after {
      content: attr(data-comment);
      position: absolute;
      right: 0;
      color: $dark-shade-50;
      font-weight: normal;
    }
  }

  &__toggle {
    margin-top: 10px;
  }

  &__radio-btn {
    padding-top: 10px;
  }

  &__like-btn {
    display: grid;
    grid-template-columns: 50px 50px;
    padding-top: 10px;
  }

  &__rate-btn {
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 8px;
  }

  &__buttons {
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: repeat(4,44px);
    grid-gap: 25px;
    margin-top: 10px;
  }

  &__button_border {
    z-index: 1;
    display: grid;
  }

  &__button_arrow {
    grid-column: 1/3;
    display: grid;
    width: 320px;
  }

  &__pagination {
    padding: 10px 0;
  }

  &__review {
    grid-column: span 2;

    @media (max-width: 800px) {
      grid-column: unset;
    }
  }

  &__advantages {
    display: grid;
    grid-gap: 20px;
  }

  @media (max-width: 1240px) {
    width: unset;
    padding-right: $space-x;
    padding-left: $space-x;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    justify-items: center;
  }

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }
}
