@import '../../components/layout_base/layout_base.scss';
@import '../colors', '../fonts', '../sizes';
@import '../../components/button/button.scss';
@import '../../components/like-btn/like-btn.scss';
@import '../../components/advantages/advantages.scss';
@import '../../components/field/field.scss';
@import '../../components/dropdown/dropdown.scss';
@import '../../components/date-dropdown/date-dropdown.scss';
@import '../../components/filter-date-dropdown/filter-date-dropdown.scss';
@import '../../components/rate-btn/rate-btn.scss';
@import '../../components/expandable-checkbox/expandable-checkbox.scss';
@import '../../components/toggle/toggle.scss';
@import '../../components/radiobutton/radiobutton.scss';
@import '../../components/checkbox/checkbox.scss';
@import '../../components/range-slider/range-slider.scss';
@import '../../components/pagination/pagination.scss';
@import '../../components/review/review.scss';
@import '../../components/bullet-list/bullet-list.scss';
@import '../../components/subscription-input/subscription-input.scss';

// Colors and Type
.colors {
  width: $content-width;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto 465px;
  grid-gap: 20px;

  .colors__palette {
    display: flex;
    padding-bottom: 20px;
    align-items: center;
  }

  .palette__name {
    @include H2;

    line-height: 31px;
    word-spacing: -2px;
  }

  .palette__code {
    font-family: Quicksand;
    font-size: 19px;
    font-weight: normal;
  }

  .palette__box {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    margin-right: 40px;
  }

  .color {
    &_dark-shade {
      background-color: $dark-shade;
    }

    &_dark-shade-75 {
      background-color: $dark-shade-75;
    }

    &_dark-shade-50 {
      background-color: $dark-shade-50;
    }

    &_dark-shade-25 {
      background-color: $dark-shade-25;
    }

    &_dark-shade-5 {
      background-color: $dark-shade-5;
    }

    &_purple {
      background-color: $purple;
    }

    &_green {
      background-color: $green;
    }
  }

  @media (max-width: 1240px) {
    width: unset;
    padding-right: $space-x;
    padding-left: $space-x;

    .form-elements__item {
      width: 266px;
    }
  }

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
  }
}

.colors__font {
  display: grid;
  grid-template-columns: 70px auto;
  padding-bottom: 50px;
  max-width: 420px;

  .font__tag {
    padding-right: 20px;
    color: $dark-shade-25;
    text-align: center;
  }

  .font__description {
    word-spacing: -2px;
  }
}

.font {
  &_H1 {
    @include H1;
  }

  &_H2 {
    @include H2;
  }

  &_H3 {
    @include H3;
  }

  &_Body {
    @include Body;
  }
}
// Form Elements
.form-elements {
  background-color: #fff;
  width: $content-width;
  margin: 0 auto;
  padding: $space-y 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 130px;

  .show .dropdown__menu {
    position: relative;
  }

  .button-wrapper {
    z-index: 1;
  }

  .radiobutton {
    margin-top: 10px;
  }

  [class^=button] {
    height: 44px;
    width: 100px;
    padding: 0;
  }

  .button_arrow {
    grid-column: span 2;
    width: 320px;
  }

  .pagination {
    justify-content: flex-start;
  }

  .bullet-list {
    margin-top: 15px;
  }

  @media (max-width: 1240px) {
    width: unset;
    padding-right: $space-x;
    padding-left: $space-x;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    justify-items: center;

    .form-elements__item {
      width: 266px;
    }
  }

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }
}

.form-elements__block {
  display: grid;
  grid-gap: 20px;
}

.form-elements__section {
  display: grid;
  grid-row-gap: 40px;

  .input_radio {
    margin-top: 15px;
  }

  .toggle {
    margin-top: 10px;
  }
}

.form-elements__subtitle {
  @include H3;
  padding-bottom: 5px;
  position: relative;

  &::after {
    content: attr(data-comment);
    position: absolute;
    right: 0;
    color: $dark-shade-50;
    font-weight: normal;
  }
}

.form-elements__description {
  @include Body;
}

.form-elements__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.form-elements__grid_col_2 {
  display: grid;
  grid-template-columns: 50px 50px;
}

.grid {
  display: grid;
}

.grid_span_2 {
  grid-column: span 2;
  max-width: unset;

  @media (max-width: 800px) {
    grid-column: unset;
  }
}

.grid_gap_10 {
  display: grid;
  grid-gap: 10px;
}
