extends ../../components/layout-base/layout-base
include ../../components/like-btn/like-btn
include ../../components/advantages/advantages
include ../../components/field/field
include ../../components/dropdown/dropdown
include ../../components/date-dropdown/date-dropdown
include ../../components/filter-date-dropdown/filter-date-dropdown
include ../../components/rate-btn/rate-btn
include ../../components/expandable-checkbox/expandable-checkbox
include ../../components/toggle/toggle
include ../../components/radio-button/radio-button
include ../../components/checkbox/checkbox
include ../../components/range-slider/range-slider
include ../../components/pagination/pagination
include ../../components/review/review
include ../../components/bullet-list/bullet-list
include ../../components/subscription-input/subscription-input
include ../../components/button/button

block variables
  - var pageTitle = 'Form elements'
  - 
    var comment = 
    {
      name: "Мурад Сарафанов", 
      src: "images/reviews/review2.png", 
      voiceCounter: 11,
      isLiked: true,
      date: "5 дней назад",
      comment: 
      "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."
    }
      
block main
  section.form-elements
    .form-elements__section
      .form-elements__block
          .form-elements__item
            h3.form-elements__subtitle(data-comment="default") Text Field       
            +field({mask: false, type: "email", placeholder: "Email"})
          .form-elements__item
            h3.form-elements__subtitle(data-comment="hover/focus") Text Field 
            +field({mask: false, type: "text", text: "This is pretty awesome"})
          .form-elements__item
            h3.form-elements__subtitle(data-comment="default") Dropdown
            +dropdown({
              show: false, 
              title: "Сколько гостей", 
              controlBtn: true,
              items: [
                {name: "взрослые", group: "гости"}, 
                {name: "дети", group: "гости"}, 
                {name: "младенцы"}
              ]
            })
          .form-elements__item
            h3.form-elements__subtitle(data-comment="default") masked text field
            +field({mask: true, placeholder: "ДД.ММ.ГГГГ"})
      .form-elements__item
        +date-dropdown({
          title1: "date dropdown", 
          title2: "date dropdown"
        })
      .form-elements__item
        h3.form-elements__subtitle filter date dropdown
        +filter-date-dropdown
      .form-elements__item
        h3.form-elements__subtitle subscription text field
        +subscription-input
    .form-elements__section 
      .form-elements__item
        h3.form-elements__subtitle Checkbox buttons
        +checkbox({
          rich: false, 
          items: 
            [
              {description: "Можно курить"}, 
              {description: "Можно с питомцами"}, 
              {description: "Можно пригласить гостей (до 10 человек)"}
            ]
        })
      .form-elements__item
        h3.form-elements__subtitle Radio buttons
        .form-elements__radio-btn
          +radio-button([
            {
              text: "Мужчина",
              name: "gender",
              value: "man",
              isChecked: true
            },
            {
              text: "Женщина",
              name: "gender",
              value: "woman",
              isChecked: false
            }
          ])
      .form-elements__item
        h3.form-elements__subtitle Toggle
        .form-elements__toggle
          +toggle({title: "Получать спецпредложения", isChecked: true})
        .form-elements__toggle
          +toggle({title: "Получать спецпредложения", isChecked: false})
      .form-elements__item
        h3.form-elements__subtitle Like button
        .form-elements__like-btn
          +like-btn({count: 2, isChecked: false})
          +like-btn({count: 11, isChecked: true})
      .form-elements__item
        h3.form-elements__subtitle Rate button
        .form-elements__rate-btn
          +rate-btn({total: 5, rating: 4})
          +rate-btn({total: 5, rating: 5})
    .form-elements__section 
      .form-elements__item
        h3.form-elements__subtitle Range slider
        +range-slider
      .form-elements__item
        h3.form-elements__subtitle Buttons
        .form-elements__buttons
          +button({text: "click me", style: "gradient"})
          +button({text: "click me", style: "gradient"})
          .form-elements__button_border
            +button({text: "click me", style: "border"})
          .form-elements__button_border
            +button({text: "click me", style: "border"})
          +button({text: "click me", style: "ghost-link"})
          +button({text: "click me", style: "link"})
          .form-elements__button_arrow
            +button({text: "перейти к оплате", style: "arrow"})
      .form-elements__item
        h3.form-elements__subtitle Pagination
        .form-elements__pagination
          +pagination({currentPage: 1, totalPages: 15, elementsOnPage: 12})
    .form-elements__section 
      .form-elements__item
        h3.form-elements__subtitle(data-comment="default") dropdown
        +dropdown({
          show: false, 
          title: "Сколько комнат",
          items: [
            {name: "спальни"}, 
            {name: "кровати"}, 
            {name: "ванные комнаты"}
          ]
        })
      .form-elements__item
        h3.form-elements__subtitle(data-comment="expanded") dropdown
        +dropdown({
          show: true, 
          title: "Сколько комнат",
          items: [
            {name: "спальни"}, 
            {name: "кровати"}, 
            {name: "ванные комнаты"}
          ]
        })
    .form-elements__section
      .form-elements__item
        +dropdown({
            show: true, 
            title: "Сколько гостей", 
            controlBtn: true,
            items: [
              {name: "взрослые", group: "гости"}, 
              {name: "дети", group: "гости"}, 
              {name: "младенцы"}
            ]
        })
    .form-elements__section
      .form-elements__item
        +dropdown({
          show: true, 
          title: "Сколько гостей", 
          controlBtn: true,
          items: [
            {name: "взрослые", group: "гости"}, 
            {name: "дети", group: "гости"}, 
            {name: "младенцы"}
          ]
        })
    .form-elements__section
      .form-elements__item
        +expandable-checkbox({title: "expandable-checkbox-list", items: []})
      .form-elements__item
        +expandable-checkbox({
          title: "expandable-checkbox-list", 
          items: 
            [
              {description: "Завтрак"}, 
              {description: "Письменный стол", isChecked: true}, 
              {description: "Стул для кормления", isChecked: true}, 
              {description: "Кроватка", isChecked: true}, 
              {description: "Телевизор"}, 
              {description: "Шампунь"}
            ]
        })
    .form-elements__section
      .form-elements__item
        h3.form-elements__subtitle Rich checkbox buttons
        +checkbox({
          rich: true, 
          items: 
            [
              {title: "Широкий коридор", description: "Ширина коридоров в номере не менее 91 см."},
              {title: "Помощник для инвалидов", description: "На 1 этаже вас встретит специалист  и проводит до номера."}
            ]
        })
    .form-elements__section
      .form-elements__item
        h3.form-elements__subtitle Bullet list
        +bullet-list([
          {text: "Нельзя с питомцами"},
          {text: "Без вечеринок и мероприятий"},
          {text: "Время прибытия — после 13:00, а выезд до 12:00"}
        ])
    .form-elements__section
      .form-elements__item
        .form-elements__advantages
          +advantages({title: "Комфорт", description: "Шумопоглощающие стены", icon: "insert_emoticon"})
          +advantages({title: "Удобство", description: "Окно в каждой из спален", icon: "location_city"})
    .form-elements__review
      .form-elements__section
        +review(comment)
