extends ../../components/layout-page/layout-page
include ../../components/form-registration/form-registration

block variables
  - var pageTitle = 'Registration page'

block main
  main.registration-page
    +form-registration
