extends ../page
include ../../components/form-registration/form-registration


block variables
    - var pageTitle = 'Registration page'

block main
    .container
        .container__item
            +form-registration
