mixin color-block({ name = 'Color', backgroundColor, description = 'Description', })
  .color-block
    .color-block__box(class=`color-block_color_${backgroundColor}`)
    .color-block__description
      h2.color-block__name= name
      p.color-block__description= description
