extends ../../components/layout_page/layout_page
include ../../components/form-selection/form-selection

block variables
    - var pageTitle = 'Index page'

block main
    main.landing
        .landing__item
            +form-selection
        .landing__item
            p.slogan Лучшие номера для вашей работы, отдыха и просто вдохновения
    
