@import '../../scss/mixins';

.index-page {
  width: 100%;
  max-width: $max-width;
  min-height: 830px;
  margin: 0 auto;
  background: url('./bg-index.jpg') bottom/cover no-repeat;
  padding: 70px 0 20px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__item {
    min-width: $content-width;
    margin: 0 auto;
  
    &:last-child {
      display: flex;
      justify-content: flex-end;
    }

    @media (max-width: 1200px) {
      min-width: unset;
      margin: 0;
    }
  }

  &__slogan {
    @include Body;
    max-width: 297px;
    text-align: right;
    margin: 0;
  }

  @media (max-width: 1200px) {
    padding-right: $space-x;
    padding-left: $space-x;
    align-items: stretch;
  }

  @media (max-width: 600px) {
    padding-right: $space-x;
    padding-left: $space-x;
  }

  @media (max-width: 450px) {
    align-items: center;
    padding-right: 0;
    padding-left: 0;
  }
}
