@import '../colors', '../fonts', '../page.scss';
@import '../../components/form-selection/form-selection.scss';

.container {
    width: 100%;
    max-width: $max-width;
    height: 830px;
    margin: 0 auto;
    background: url('./bg-index.jpg') center/cover no-repeat;
    padding: 70px 0 20px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 1200px) {
        padding-right: $space-x;
        padding-left: $space-x;
        align-items: stretch;
    }
    @media (max-width: 600px) {
        padding-right: $space-x;
        padding-left: $space-x;
        align-items: center;
    }
    @media (max-width: 450px) {
        padding-right: $space-x/2;
        padding-left: $space-x/2;
    }
}
.container__item {
    width: $content-width;
    margin: 0 auto;
    @media (max-width: 1200px) {
        width: unset;
        margin: 0;
    }
}
.container__item:last-child {
    display: flex;
    justify-content: flex-end;
    .slogan {
        @include Body;
        width: 297px;
        text-align: right;
    }
}


