extends ../base
include ../../components/form-selection/form-selection
include ../../components/form-registration/form-registration

block variables
    - var pageTitle = 'Index page'

block main
    +form-selection
    +form-registration