extends ../page
include ../../components/form-selection/form-selection

block variables
    - var pageTitle = 'Index page'

block main
    main.container
        .container__item
            +form-selection
        .container__item
            p.slogan Лучшие номера для вашей работы, отдыха и просто вдохновения
    
