@import '../../scss/mixins';

.colors-type {
  background: url(../../components/logo/img/logo2.svg) 30px 20px no-repeat #fff;
  padding: $space-y $border-space;
  min-width: $content-width;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto 465px;
  grid-gap: 20px;

  &__font {
    display: grid;
    grid-template-columns: 70px auto;
    padding-bottom: 50px;
    max-width: 420px;
  }

  &__tag {
    padding-right: 20px;
    text-align: center;
  }

  &__tag-body {
    color: $dark-shade-25;
  }

  &__sample-body {
    color: $dark-shade-75;
  }

  @media (max-width: 1240px) {
    min-width: unset;
    padding-right: $space-x;
    padding-left: $space-x;
  }

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
  }
}
