extends ../ui-kit-template
include ../../components/color-block/color-block
include ../../components/heading/heading

block variables
  -
    const pageTitle = 'Form elements';
    const colors = require('./data.json');

block main
  section.colors-type
    .colors-type__section
      each color in colors
        +color-block(color)
    .colors-type__section
      .colors-type__font
        .colors-type__tag
          +heading({ text: 'H1', tag: 'h1', color: 'light shade', })
        .colors-type__sample
          +heading({ text: 'This one is the sub-section or widget title', tag: 'h1', })
      .colors-type__font
        .colors-type__tag
          +heading({ text: 'H2', tag: 'h2', color: 'light shade', })
        .colors-type__sample
          +heading({ text: 'Next one is the item title inside widgets', tag: 'h2', })
      .colors-type__font
        .colors-type__tag
          +heading({ text: 'H3', tag: 'h3', color: 'light shade', })
        .colors-type__sample
          +heading({ text: 'This is a label or CTA text', tag: 'h3', })
      .colors-type__font
        p.colors-type__tag-body Body
        p.colors-type__sample-body This is the body text which is used for most of the design, like paragraphs, lists, etc.
