@import '../../../node_modules/air-datepicker/dist/css/datepicker.min.css';
label {
    position: relative;
    &:after {
        content: "";
        width: 10px;
        height: 10px;
        border: solid #000;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        position: absolute;
        right: 10px;
    }
}
