$purple: #BC9CFF;
$green: #6FCF97;
$dark-shade: #1F2041;
$dark-shade-5: rgba($dark-shade, 0.05);
$dark-shade-25: rgba($dark-shade, 0.25);
$dark-shade-50: rgba($dark-shade, 0.5);
$dark-shade-75: rgba($dark-shade, 0.75);


$border-space: 140px;