@import '../fonts.scss', '../colors', '../components/header/header.scss';

body {
    max-width: 1920px;
    min-width: 320px;
}
a {
    text-decoration: none;
}
ul {
    padding: 0;
}
li {
    list-style: none;
}
.layout {
    max-width: 1160px;
    margin: 0 auto;
}
.button {
    border-radius: 22px;
    padding: 8px 21px;
    &-light {
        border: 2px solid $purple;
        color: $purple;
    }
    &-dark {
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        color: #fff;
    }
}
