@import './fonts', './colors', './sizes', '../components/header/header.scss', '../components/footer/footer.scss';

body {
    max-width: 1920px;
    min-width: 320px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
h1, h2, h3, h4, p, ul, figure {
    margin: 0;
}
a {
    text-decoration: none;
}
ul {
    padding: 0;
}
li {
    list-style: none;
}
button {
    border: none;
    background: none;
}
.header__navigation .navigation__link{
    margin-right: 22px;
}
