include ../field/field
include ../radiobutton/radiobutton
include ../toggle/toggle

mixin form-registration
  form.form-registration
    h1.form-registration__title Регистрация аккаунта
    .form-registration__section
      +field(false, "text", "Имя")
      +field(false, "text", "Фамилия")
      +radiobutton
    .form-registration__section
      h3.form-registration__sub-title дата рождения
      +field(true, "date", "ДД.ММ.ГГГГ")
    .form-registration__section
      h3.form-registration__sub-title данные для входа в сервис
      +field(false, "email", "Email")
      +field(false, "password", "Пароль")
      +toggle("Получать спецпредложения", false)
    .form-registration__section
      button.button.button_arrow(type="submit") перейти к оплате
        i.material-icons arrow_forward
    .form-registration__footer
      p Уже есть аккаунт на Toxin
      a(href="login.html").button_border войти
