include ../field/field
include ../radio-button/radio-button
include ../toggle/toggle
include ../button/button
include ../heading/heading

mixin form-registration()
  form.form-registration
    .form-registration__wrapper
      +heading({ text: "Регистрация аккаунта", tag: "h1", })
      .form-registration__section
        +field({ type: "text", placeholder: "Имя", })
        +field({ type: "text", placeholder: "Фамилия", })
        +radio-button({
          items: [
            {
              text: "Мужчина",
              name: "gender",
              value: "man",
              isChecked: true,
            },
            {
              text: "Женщина",
              name: "gender",
              value: "woman",
              isChecked: false,
            },
          ],
        })
      .form-registration__section
        +heading({ text: "дата рождения", tag: "h3", })
        +field({ isMasked: true, type: "text", placeholder: "ДД.ММ.ГГГГ", })
      .form-registration__section
        +heading({ text: "данные для входа в сервис", tag: "h3", })
        +field({ type: "email", placeholder: "Email", })
        +field({ type: "password", placeholder: "Пароль", })
        +toggle({ title: "Получать спецпредложения", isCheched: false, })
      .form-registration__section
        +button({ text: "перейти к оплате", buttonType: "link", style: "arrow", size: "m", })
      .form-registration__footer
        p.form-registration__question Уже есть аккаунт на Toxin
        +button({ href: "login.html", buttonType: "submit", text: "войти", style: "border", size: "m", })
