@import '../../scss/mixins';
@import '../field/field.scss';
@import '../radio-button/radio-button.scss';
@import '../toggle/toggle.scss';
@import '../button//button.scss';

.form-registration {
  @include form;

  &__title {
    @include H1;
  }

  &__sub-title {
    @include H3;
  }

  &__section {
    display: grid;
    grid-row-gap: 8px;
  }

  &__footer {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 0;
  }

  &__question {
    @include Body;
  }
}