include ../field/field
include ../radio-button/radio-button
include ../toggle/toggle
include ../button/button

mixin form-registration
  form.form-registration
    h1.form-registration__title Регистрация аккаунта
    .form-registration__section
      +field({mask: false, type: "text", placeholder: "Имя"})
      +field({mask: false, yupe: "text", placeholder: "Фамилия"})
      +radio-button
    .form-registration__section
      h3.form-registration__sub-title дата рождения
      +field({mask: true, type: "date", placeholder: "ДД.ММ.ГГГГ"})
    .form-registration__section
      h3.form-registration__sub-title данные для входа в сервис
      +field({mask: false, type: "email", placeholder: "Email"})
      +field({mask: false, type: "password", placeholder: "Пароль"})
      +toggle("Получать спецпредложения", false)
    .form-registration__section
      +button({text: "перейти к оплате", style: "arrow", size: "m"})
    .form-registration__footer
      p.form-registration__question Уже есть аккаунт на Toxin
      +button({href: "login.html", text: "войти", style: "border", size: "m"})
