@import '../form/form.scss';
@import '../input/input.scss';
@import '../radiobutton/radiobutton.scss';
@import '../toggle/toggle.scss';

.form-registration__login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
        @include Body;
        line-height: 18px;
        color: #000;
        margin: 0;
    }
}