@import '../../scss/mixins';
@import '../../scss/fonts';
@import '../date-dropdown/date-dropdown.scss';
@import '../dropdown/dropdown.scss';
@import '../button/button.scss';

.form-booking {
  @include form;

  &__header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    &__room-number {
      @include H2;
      font-size: 24px;
      margin: 0;
    
      &::before {
        content: '№ ';
        font-size: 14px;
      }
    }

    &__luxury {
      @include H3;
      color: $purple;
    }

    &__price {
      font: {
        family: montserrat, arial, sans-serif;
        weight: bold;
        size: 14px;
      }
      line-height: 18px;
      color: $dark-shade-50;
    
      &::after {
        content: ' в сутки';
        font-weight: normal;
      }
    }
  }

  &__order-item {
    @include Body;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 10px;

    &__name {
      display: flex;
      justify-content: space-between;
    }

    &__price::after {
      content: ' ₽';
    }

    &__title {
      max-width: 214px;
      position: relative;
      padding-right: 25px;
      line-height: 20px;
    
      &::after {
        content: 'i';
        display: inline-block;
        border-radius: 50%;
        border: 1px solid $dark-shade-25;
        width: 20px;
        height: 20px;
        box-sizing: border-box;
        cursor: help;
        text-align: center;
        line-height: 16px;
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    &__info {
      border-radius: 50%;
      border: 1px solid $dark-shade-25;
      width: 20px;
      height: 20px;
      box-sizing: border-box;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      cursor: help;
      margin-left: 5px;
    }
  }

  &__item-total {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    @include H2;
    padding-top: 18px;

    &__dots {
      border-bottom: 1px dashed $dark-shade-25;
      width: auto;
      flex: 1;
    }
  }
}


