@import '../../scss/mixins';

.field {
  @include Body;
  border-radius: 4px;
  border: 1px solid $dark-shade-25;
  padding: 10px 13px;
  width: 100%;
  max-height: 44px;
  box-sizing: border-box;
  z-index: 1;
  background: transparent;
  cursor: pointer;

  &::placeholder {
    line-height: 18px;
    color: $dark-shade-25;
  }

  &:hover,
  &:active,
  &:focus {
    border-color: $dark-shade-50;
    box-shadow: 0 0 0 0.5px $dark-shade-50;
    outline: none;
  }
}
