@import '../logo/logo.scss';
@import '../button/button.scss';

.header {
    width: 1440px;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow:  0px 10px 20px $dark-shade-5;
    padding: 15px $border-space;
    .layout {
        display: flex;
        justify-content: space-between;
    }
}

.header__navigation {
    display: flex;
    align-items: center;
    ul {
        display: flex;
        li {
            margin-right: $space-x;
            display: flex;
        }
    }
    .navigation__list, .navigation__toolbar {
        font: {
            family: Montserrat;
            weight: normal;
            size: 14px;
        }
        line-height: 17px;
    }
    i.material-icons {
        font-family: Material Icons;
        font-style: normal;
        font-size: 24px;
    }
}
.navigation__toolbar a:not(:last-child) {
    margin-right: 20px;
}
.navigation__toolbar {
    z-index: 0;
    .button_border {
        padding: 6px 18px;
    }
}
.navigation__toolbar .user {
    border-left: 1px solid rgba($dark-shade, 0.1);
    padding-left: 30px;
}

