mixin header(auth)
    header.header
        .logo
            .logo__icon
            .logo__text
        .header__navigation
            ul.navigation__list
                li 
                    a(href="") Home
                li
                    a(href="") About us
                li
                    a(href="") Services
                    i.material-icons expand_more
                li
                    a(href="") Careers
                li
                    a(href="") News
                li
                    a(href="") Documentation
            .navigation__toolbar
                if auth
                    .user=user
                else
                    a(href="#").button_border Login
                    a(href="#").button Register
    
    
        
                
                
        