include ../logo/logo
include ../button/button

mixin header({ auth = false, lang }, items = [{ name: "click me", expanded: false, href: "/mock-address/change-me" }])
  case lang
    when "ru"
      - lang = ru
    when "en"
      - lang = en
    default
      - lang = en

  header.header
    .header__wrapper
      +logo
      nav.header__navigation
        ul.header__menu
          each item in items
            li.header__item
              if item.expanded
                .header__link
                  details.header__details
                    summary.header__summary=item.name
              else 
                a(href=item.href).header__link=item.name
        .header__burger menu
        .header__toolbar
          if auth
            .header__user=user
          else 
            .header__sign-in-btn
              +button({
                href:"login.html", 
                style: "border", 
                text: (lang == "ru") ? "войти" : "Login", 
                size: "s"
              })
            .header__sign-up-btn
              +button({
                href:"registration.html", 
                style: "gradient", 
                text: (lang == "ru") ? "зарегистрироваться" : "Register", 
                size: "s"
              })