include ../logo/logo
include ../button/button
include ../material-icon/material-icon

mixin header({ auth = false, language = "en", items = [{ name: "click me", expanded: false, href: "/mock-address/change-me" }] })
  - let loginButtonText
  - let registerButtonText
  
  case language
    when "ru"
      - loginButtonText = "войти"
      - registerButtonText = "зарегистрироваться"
    default
      - loginButtonText = "Login"
      - registerButtonText = "Register"

  header.header.js-header
    .header__wrapper
      +logo
      nav.header__navigation
        ul.header__menu.js-header__menu
          each item in items
            li.header__item
              if item.expanded
                .header__link
                  details.header__details
                    summary.header__summary=item.name
              else 
                a(href=item.href).header__link=item.name
        .header__burger.js-header__burger
          +material-icon({name: "menu", size: "m", color: "dark-shade-75"})
        .header__toolbar
          if auth
            .header__user=user
          else 
            .header__sign-in-btn
              +button({
                href: "login.html", 
                buttonType: "link",
                style: "border", 
                text: loginButtonText,
                size: "s"
              })
            .header__sign-up-btn
              +button({
                href: "registration.html", 
                buttonType: "link",
                style: "gradient", 
                text: registerButtonText, 
                size: "s"
              })