extends ../base
include ../../components/header/header
include ../../components/footer/footer

block variables
    - var pageTitle = 'Headers & Footers'
    - var user = "Cosmin Negoita"
block main
    +header(false)
    +header(true)
    +footer(false)
    +footer(true)
    