extends ../../components/layout-base/layout-base
include ../../components/header/header
include ../../components/footer/footer

block variables
  - var pageTitle = 'Headers & Footers'
  - var bglogo = true
  - var user = "Cosmin Negoita"
  - var navigation = [
  - {name: "Home", href: "#", expanded: false},
  - {name: "About Us", href: "#", expanded: false},
  - {name: "Services", href: "#", expanded: true},
  - {name: "Careers", href: "#", expanded: false},
  - {name: "News", href: "#", expanded: false},
  - {name: "Documentation", href: "#", expanded: false}
  - ]
  - var footerNavigation = [
  - {title: "Navigation", list: [{name: "About Us"}, {name: "News"}, {name: "Support"}, {name: "Products"}]},
  - {title: "About Us", list: [{name: "Who we are"}, {name: "Our team"}, {name: "Careers"}, {name: "Investors"}]},
  - {title: "Support", list: [{name: "Documentation"}, {name: "Community"}, {name: "Get in Touch"}]}
  - ]
  
block main
  section.headers-footers
    +header({auth: false, lang: "en"}, navigation)
    +header({auth: true, lang: "en"}, navigation)
    +footer({
      creative: false,
      slogan: "Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.",
      formTitle: "Subscribe to our newsletter",
      formDescription: "Receive our latest news and promotions in your inbox!",
      copyright: "Copyright © 2018 Toxin UI Kit. All rights reserved."
    }, footerNavigation)
    +footer({
      creative: true,
      slogan: "Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.",
      formTitle: "Subscribe to our newsletter",
      formDescription: "Receive our latest news and promotions in your inbox!",
      copyright: "Copyright © 2018 Toxin UI Kit. All rights reserved."
    }, footerNavigation)

    