@import '../base.scss';
@import '../../components/header/header.scss';
@import '../../components/footer/footer.scss';

body {
    display: grid;
    grid-row-gap: 40px;
    padding-top: 150px;
    padding-bottom: 130px;
    background: url(../../components/logo/Logo2.png) 30px 30px no-repeat #E5E5E5;
}
