@import '../../../node_modules/air-datepicker/dist/css/datepicker.min.css';

.datepicker-here {
    @include Body;
    border: none;
    height: 42px;
    padding-left: 11px;
    box-sizing: border-box;
    width: 100%;
}
.datepicker__control {
    position: relative;
    overflow: hidden;
    margin-top: 5px; 
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 44px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid $dark-shade-25;
    &:hover {
        border-color: $dark-shade-50;
    }
    i.material-icons {
        position: absolute;
        right: 11px;
        font-family: Material Icons;
        font-style: normal;
        font-weight: normal;
        text-transform: none;
        font-size: 24px;
        cursor: pointer;
    }
}
.datepicker {
    width: 320px;
    padding: 20px;
    box-sizing: border-box;
    font: {
        family: Montserrat;
        weight: normal;
        size: 12px;
    }
    line-height: 15px;
    color: $dark-shade-50;
    .datepicker--nav {
        border-bottom: none;
        padding: 0 0 20px 0;
    }
    .datepicker--content {
        width: 280px;
    }
    .datepicker--cell-day {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #fff;
    }
    .-in-range- {
        background: linear-gradient(180deg, transparentize($purple, 0.75) 0%, transparentize(#8BA4F9, 0.75) 100%);
        border-radius: 0;
    }
    .datepicker--cell.-range-to-, .datepicker--cell.-range-from- {
        border: 1px solid $purple;
    }
    .datepicker--cell.-range-from-.-selected- {
        border: none;
    }
    .datepicker--cell.-range-from-, .datepicker--cell.-range-from-.-current- {
        background: linear-gradient(180deg, transparentize($purple, 0.75) 0%, transparentize(#8BA4F9, 0.75) 100%);
        border-radius: 50% 0 0 50%;
    }
    .datepicker--cell.-selected-.-range-to- {
        background: linear-gradient(180deg, transparentize($purple, 0.75) 0%, transparentize(#8BA4F9, 0.75) 100%);
        border-radius: 0 50% 50% 0;
        border: none;
    }
    .datepicker--cell.-selected- {
        color: #fff;
        font-weight: bold;
        position: relative;
        &:before {
            content: "";
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: linear-gradient(180deg, $purple 0%, #8BA4F9 100%);
            position: absolute;
            z-index: -1;
        }
    }
    .-current-, .datepicker--cell.-selected-.-current- {
        color: #fff;
        font-weight: bold;
        position: relative;
        &:before {
            content: "";
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
            position: absolute;
            z-index: -1;
        }
    }
}
.datepicker--nav-title, .datepicker--nav-title i {
    @include H2;
}
.datepicker--nav-action i.material-icons{
    color: $purple;
    font-family: Material Icons;
    font-style: normal;
    font-size: 24px;
}
.datepicker--day-name {
    color: $purple;
    font-weight: bold;
}
.datepicker--buttons {
    border-top: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}
.datepicker--button {
    @include H3;
    color: $dark-shade-50;
    display: inline;
    height: unset;
    &:hover {
        background: none;
    }
}
.apply--button {
    @include H3;
    color: $purple;
    cursor: pointer;
}
.datepicker--pointer {
    display: none;
}
@media (max-width: 370px) {
    .datepicker {
        width: 290px;
        padding: 0;
    }
    .datepicker--buttons {
        padding-left: $space-x/2;
        padding-right: $space-x/2;
    }
}