mixin checkbox ({ isRich = false, items = [{ title, description, isChecked, }], } = {})
  .checkbox(class = isRich ? "checkbox__theme_rich" : "")
    each item in items
      label.checkbox__label
        span.checkbox__title=item.title
        span.checkbox__description=item.description
        input.checkbox__input(type="checkbox" checked=item.isChecked)
        .checkbox__checkmark 