mixin checkbox (rich, ...items)
    .input_checkbox
        each item in items
            label
                if rich
                    h4=item.title
                p=rich ? item.description : item
                input(type="checkbox")
                .checkmark