mixin checkbox
    .input_checkbox
        label Завтрак
            input(type="checkbox")
            .checkmark
        label Письменный стол
            input(type="checkbox")
            .checkmark
        label Стул для кормления
            input(type="checkbox")
            .checkmark