mixin checkbox (rich, items)
  .checkbox(class = rich ? "checkbox__theme_rich" : "")
    each item in items
      label.checkbox__label
        if rich
          h4.checkbox__title=item.title
        p.checkbox__description=item.description
        input.checkbox__input(type="checkbox" checked=item.check)
        .checkbox__checkmark 