mixin checkbox (rich, ...items)
    .input_checkbox(class = rich ? "input__checkbox_rich" : "")
        each item in items
            label
                if rich
                    h4=item.title
                p.checkbox__description=item.description
                if item.check
                    input(type="checkbox" checked)
                else
                    input(type="checkbox") 
                .checkmark