@import '../logo/logo.scss';

.footer {
    box-shadow: 0px 1px 0px rgba($dark-shade, 0.1);
    background-color: #fff;
    .copyright-bar {
        padding-bottom: 110px;
    }
    @media (max-width: 1300px) {
        .footer__section:not(:first-child) {
            display: none;
        }
        .footer__navigation {
            grid-template-columns: 1fr;
        }
        .footer__section {
            max-width: 260px;
            text-align: center;
            justify-self: center;
            .logo {
                justify-self: center;
            }
        }
        .footer__wrapper {
            border-top: none;
        }
        .copyright-bar {
            padding-bottom: 40px;
            flex-direction: column;
            p {
                display: none;
            }
        }
        }
}
.footer__navigation {
    max-width: $content-width;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 100px 0 85px 0;
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr 260px;
    grid-gap: 40px;
    justify-items: center; 
}
.footer__section {
    display: grid;
    align-content: start;
    justify-self: start;
    grid-gap: 20px;
    &:first-child {
        grid-gap: 14px;
    }
}
.navigation__group {
    @include Body;
    line-height: 17px;
    .navigation__item {
        padding-bottom: 20px;
    }
    a {
        color: $dark-shade-50;
    }
}
.footer__subtitle {
    @include H3;
}
.footer__description {
    @include Body;
}
.footer__subscribe {
    display: flex;
    justify-content: space-between;
    width: 260px;
    height: 44px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid $dark-shade-25;
    overflow: hidden;
    input {
        border: none;
        padding-left: 15px; 
        background-color: transparent;
        width: 100%;
        &::placeholder {
            @include Body;
            color: $dark-shade-25;
        } 
    }
    .footer__button {
        width: 44px;
        background-color: #fff;
        border: none;
        cursor: pointer;
        i.material-icons {
            background: linear-gradient(#BC9CFF 0%, #8BA4F9 100%);
            color: transparent;
            -webkit-background-clip: text;
            font: {
                family: Material Icons;
                weight: normal;
                size: 24px;
            }
        }
    }
}
.footer__wrapper {
    border-top: 2px solid rgba($dark-shade, 0.1);
}
.copyright-bar {
    @include Body;
    max-width: $content-width;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 23px 0;
    box-shadow:  0px 10px 20px $dark-shade-5;
    p {
        line-height: 17px;
    }
    .social {
        display: flex;
        .social__icon {
            width: 24px;
            height: 24px;
            margin-left: 20px;
        }
        .twitter {
            background: url(./Bar.png) left no-repeat;
        }
        .fb {
            background: url(./Bar.png) center no-repeat;
        }
        .instagram {
            background: url(./Bar.png) right no-repeat;
        }
    }
}

.footer-creative {
    box-shadow: none;
    padding-bottom: 0;
    .footer__section {
        grid-column-start: 2;
        grid-column-end: 5;
        text-align: center;
        .logo {
            justify-content: center;
        }
    }
    .copyright-bar {
        padding-bottom: 110px;
    }
}
.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}