@import '../../scss/vars', '../../scss/fonts';

.layout_base {
  font-family: $montserrat;
  font-size: 14px;
  max-width: 1920px;
  min-width: 320px;
  margin: 0 auto;
  padding: $space-y 0;
  background: url(../logo/img/logo2.svg) 30px 20px no-repeat;

  &_logo {
    background: url(../logo/img/logo2.svg) 30px 30px no-repeat #e5e5e5;
    padding-top: 150px;
  }

  h1,
  h2,
  h3,
  h4,
  p,
  ul {
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
  }

  button {
    border: none;
  }
}
