@import '../../pages/sizes';

.layout_base {
    max-width: 1920px;
    min-width: 320px;
    margin: 0 auto;
    padding: $space-y 0;
    &_logo {
        background: url(../logo/logo2.svg) 30px 30px no-repeat #E5E5E5;
        padding-top: 150px;
    }
    h1, h2, h3, h4, p, ul {
        margin: 0;
    }
    a {
        text-decoration: none;
    }
    ul {
        padding: 0;
    }
    li {
        list-style: none;
    }
    button {
        border: none;
    }
}

