mixin social-icons
  section.social-icons
    a.social-icons__link(href='https://twitter.com/', rel='noopener noreferrer', target='_blank')
      img(src='images/twitter.svg', alt='twitter')
    a.social-icons__link(href='https://www.facebook.com/', rel='noopener noreferrer', target='_blank')
      img(src='images/fb.svg', alt='facebook')
    a.social-icons__link(href='https://www.instagram.com/', rel='noopener noreferrer', target='_blank')
      img(src='images/instagram.svg', alt='instagram')
