mixin social-icons()
  section.social-icons
    a(href="https://twitter.com/" rel="noopener noreferrer" target="_blank").social-icons__link
      img(src="images/twitter.svg", alt="twitter")
    a(href="https://www.facebook.com/" rel="noopener noreferrer" target="_blank").social-icons__link
      img(src="images/fb.svg", alt="facebook")
    a(href="https://www.instagram.com/" rel="noopener noreferrer" target="_blank").social-icons__link
      img(src="images/instagram.svg", alt="instagram")