mixin social-icons
  section.social-icons
    a(href="https://twitter.com/" rel="noopener noreferrer" target="_blank").social-icons__link
      img(src=require('../../components/social-icons/img/twitter.svg').default, alt="twitter")
    a(href="https://www.facebook.com/" rel="noopener noreferrer" target="_blank").social-icons__link
      img(src=require("../../components/social-icons/img/fb.svg").default, alt="facebook")
    a(href="https://www.instagram.com/" rel="noopener noreferrer" target="_blank").social-icons__link
      img(src=require("../../components/social-icons/img/instagram.svg").default, alt="instagram")