@import './vars';
@import './fonts';

@mixin container {
  width: 100%;
  max-width: $max-width;
  box-sizing: border-box;
  margin: 0 auto;
  background: center/cover no-repeat;
  min-height: 680px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 $space-x;

  @media (max-width: 400px) {
    align-items: flex-start;
    padding-top: $space-y;
    padding-left: 0;
    padding-right: 0;
  }
}

@mixin form {
  width: 100%;
  max-width: 380px;
  background-color: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  box-sizing: border-box;
  padding: 40px 30px 30px 30px;
  display: grid;
  grid-row-gap: 20px;
  border: none;

  @media (max-width: 380px) {
    padding-left: $space-x/2;
    padding-right: $space-x/2;
  }
}

@mixin H1 {
  font: {
    family: $quicksand;
    weight: bold;
    size: 24px;
  }

  line-height: 30px;
  color: $dark-shade;
}

@mixin H2 {
  font: {
    family: $quicksand;
    weight: bold;
    size: 19px;
  }

  line-height: 24px;
  color: $dark-shade;
  margin: 0;
}

@mixin H3 {
  font: {
    family: $montserrat;
    weight: bold;
    size: 12px;
  }

  line-height: 15px;
  color: $dark-shade;
  text-transform: uppercase;
}

@mixin Body {
  font: {
    family: $montserrat;
    weight: normal;
    size: 14px;
  }

  line-height: 24px;
  color: $dark-shade-75;
  text-transform: none;
}

@mixin Icon {
  font-family: $material-icons;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
}