include ../material-icon/material-icon

mixin like-btn({count = 0, isChecked = false} = {})
  - const icon = isChecked ? "favorite" : "favorite_border"
  
  label.like-btn.js-like-btn(
    data-count= count<0 ? 0 : count
    class= isChecked ? "like-btn_active" : ""
  )
    .like-btn__icon.js-like-btn__icon
      +material-icon({name: icon, size: "s"})
    input.like-btn__input.js-like-btn__input(type="checkbox" value="like" checked=isChecked)
        



        