mixin like-btn(count, liked)
  label.like-btn.js-like-btn(data-count=checked ? count+1 : count class= liked ? "like-btn_active" : "")
    if liked
      i.material-icons favorite
    else
      i.material-icons favorite_border
    input(type="checkbox" value="like" checked=liked)
        



        