include ../material-icon/material-icon

mixin like-btn({count = 0, isChecked = false} = {})
  - let icon = "favorite_border"
  if isChecked
    - icon = "favorite"

  if count < 0
    - count = 0
  
  label.like-btn.js-like-btn(data-count=isChecked ? count+1 : count class= isChecked ? "like-btn_active" : "")
    .like-btn__icon.js-like-btn__icon
      +material-icon({name: icon, size: "s"})
    input.like-btn__input.js-like-btn__input(type="checkbox" value="like" checked=isChecked)
        



        