extends ../base
include ../../components/dropdown/dropdown

block variables
    - var pageTitle = 'Cards'

block main
    +dropdown("room", "спальни", "кровати","ванные комнаты")
    +dropdown("guests", "Olga", "Roma")
    

    
    
    
    
    