extends ../ui-kit-template
include ../../components/form-selection/form-selection
include ../../components/form-registration/form-registration
include ../../components/form-login/form-login
include ../../components/form-booking/form-booking
include ../../components/card-room/card-room
include ../../components/calendar/calendar

block variables
  - 
    const pageTitle = 'Cards'
    const bglogo = true
    const rooms = [
      {
        number: "888", 
        price: "9990", 
        images: [ "images/room1.png", "images/room1.png", "images/room1.png", "images/room1.png", ], 
        isLux: true, 
        stars: "5", 
        reviews: "145",
      },
      {
        number: "840", 
        price: "9900", 
        images: [ "images/room2.png", "images/room2.png", "images/room2.png", "images/room2.png", ], 
        isLux: false, 
        stars: "4", 
        reviews: "65",
      },
    ]

block main
  .cards
    .cards__item
      +form-selection()
    .cards__item
      +form-registration()
    .cards__item
      +form-booking({ number: 888, price: 9990, discount: 2179, serviceCharge: 0, additionalServiceCharge: 300, days: 4, })
    .cards__item
      +form-login()
    .cards__item
      +calendar({ isOpen: true, })
    for room in rooms
      .cards__item
        .cards__item_small
          +card-room(room)
        
    
    
    
    
    
    
    

    
    
    
    
    