@import '../../scss/vars';

.cards {
  column-count: 3;
  column-gap: 40px;
  margin: 0 auto;
  width: 1220px;

  &__item {
    margin-bottom: 40px;
    break-inside: avoid;
  }

  @media (max-width: 1300px) {
    width: unset;
    column-count: 2;
    padding: 0 $space-x;
  }

  @media (max-width: 850px) {
    column-count: unset;
    display: grid;
    justify-items: center;
  }

  @media (max-width: 450px) {
    padding: 0;
  }
}


