extends ../ui-kit-template
include ../../components/form-selection/form-selection
include ../../components/form-registration/form-registration
include ../../components/form-login/form-login
include ../../components/form-booking/form-booking
include ../../components/card-room/card-room
include ../../components/calendar/calendar

block variables
  -
    const pageTitle = 'Cards'
    const { rooms, booking } = require('./data.json')

block main
  .cards
    .cards__item
      +form-selection
    .cards__item
      +form-registration
    .cards__item
      +form-booking(booking)
    .cards__item
      +form-login
    .cards__item
      +calendar({ isOpen: true, })
    each room in rooms
      .cards__item.cards__item_small
        +card-room(room)
