extends ../base
include ../../components/form/__toggle/toggle

block variables
    - var pageTitle = 'Cards'

block main
    input(type="text" class="js-range-slider" name="my_range" value="")
    +toggle("Получать спецпредложения")
    +toggle("Акция")
    
    
    

    
    
    
    
    