extends ../base
include ../../components/form-selection/form-selection
include ../../components/form-registration/form-registration
include ../../components/form-login/form-login
include ../../components/form-booking/form-booking
include ../../components/card-room/card-room

block variables
    - var pageTitle = 'Cards'
    - 
        var rooms = [
        {number: "888", price: "9990", url: "images/room1.png", lux: true, stars: "5", comments: "145"},
        {number: "840", price: "9900", url: "images/room2.png", lux: false, stars: "4", comments: "65"}
        ]

block main
    .container
        .container__item
            +form-selection
        .container__item
            +form-registration
        .container__item
            +form-booking(888, 9990, 2179)
        .container__item
            +form-login
        .container__item
            .calendar
        for room in rooms
            .container__item
                +card-room(room)
        
    
    
    
    
    
    
    

    
    
    
    
    