extends ../../components/layout-base/layout-base
include ../../components/form-selection/form-selection
include ../../components/form-registration/form-registration
include ../../components/form-login/form-login
include ../../components/form-booking/form-booking
include ../../components/card-room/card-room

block variables
  - var pageTitle = 'Cards'
  - var bglogo = true
  - 
    var rooms = [
    {number: "888", price: "9990", url: "images/room1.png", lux: true, stars: "5", reviews: "145"},
    {number: "840", price: "9900", url: "images/room2.png", lux: false, stars: "4", reviews: "65"}
    ]

block main
  .cards
    .cards__item
      +form-selection
    .cards__item
      +form-registration
    .cards__item
      +form-booking({number: 888, price: 9990, discount: 2179, serviceCharge: 0, additionalServiceCharge: 300, days: 4})
    .cards__item
      +form-login
    for room in rooms
      .cards__item
        +card-room(room)
        
    
    
    
    
    
    
    

    
    
    
    
    