@import '../colors', '../fonts', '../sizes', '../../components/layout_base/layout_base.scss';
@import '../../components/form-selection/form-selection.scss';
@import '../../components/form-registration/form-registration.scss';
@import '../../components/form-login/form-login.scss';
@import '../../components/form-booking/form-booking.scss';
@import '../../components/card-room/card-room.scss';

.cards {
    column-count: 3;
    column-gap: 40px;
    margin: 0 auto;
    width: 1220px;
    @media (max-width: 1300px) {
        width: unset;
        column-count: 2;
        padding: 0 $space-x;
    }
    @media (max-width: 850px) {
        column-count: unset;
        display: grid;
        justify-items: center;
        .form {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
    @media (max-width: 450px) {
        padding: 0;
    }
}
.cards__item {
    margin-bottom: 40px;
    break-inside: avoid;
}