@import '../../scss/vars';

.cards {
  column-count: 3;
  column-gap: 40px;
  background: url(../../components/logo/img/logo2.svg) 30px 30px no-repeat #e5e5e5;
  padding: $border-space;

  &__item {
    margin-bottom: 40px;
    break-inside: avoid;
    display: flex;
    justify-content: center;
  }

  @media (max-width: 1300px) {
    column-count: 2;
    padding: $border-space $space-x;
  }

  @media (max-width: 850px) {
    column-count: unset;
    display: grid;
    justify-items: center;
  }

  @media (max-width: 450px) {
    padding: $border-space 0;
  }
}


