include ../field/field
include ../material-icon/material-icon

mixin date-field({ name })
  label.date-field=name
    .date-field__input.js-date-field__input
      +field({type: "text", placeholder: "ДД.ММ.ГГГГ"})
      .date-field__icon
        +material-icon({name: "expand_more", size: "m"})