include ../field/field
include ../material-icon/material-icon
include ../heading/heading

mixin date-field({ name })
  .date-field
    +heading({ text: name, tag: "h3"})
    .date-field__input.js-date-field__input
      +field({type: "text", placeholder: "ДД.ММ.ГГГГ"})
      .date-field__icon
        +material-icon({name: "expand_more", size: "m"})