mixin rate-btn({total, rating} = {})
  form.rate-btn.js-rate-btn
    - for (let i=0; i<total; i++)
      label.rate-btn__item
        if rating>i
          i.rate-btn__icon star
        else
          i.rate-btn__icon star_border
        input.rate-btn__input(type="radio" name="star" value=i+1)



        

        