.rate-btn {
    .rate-btn__item {
        width: 24px;
        height: 24px;
        background: url('./star_border.png') center no-repeat;
    }
    .rate-btn__item_active {
        background: url('./star.png') center no-repeat;
    }
    input {
        opacity: 0;
    }
}
