@import '../../scss/vars', '../../scss/fonts';

.rate-btn {
  &__item {
    position: relative;
  }

  &__icon {
    font-family: 'Material Icons';
    font-style: normal;
    font-size: 24px;
    color: $purple;
  }

  &__input {
    opacity: 0;
    position: absolute;
    left: 0;
  }
}
