mixin rate-btn(total, rating)
    form.rate-btn
        - for (let i=0; i<total; i++)
            label.rate-btn__item
                if rating>i
                    i.material-icons star
                else
                    i.material-icons star_border
                input(type="radio" name="star" value=i+1)



        

        