.form__toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 260px;
    .toggle__title {
        @include Body;
    }
    .toggle__btn_on {
        width: 40px;
        height: 20px;
        border-radius: 10px;
        border: 1px solid $purple;
        padding: 4px;
        box-sizing: border-box;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        &:before {
            content: "";
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: $purple;
        }
    }
    .toggle__btn_off {
        border-color: $dark-shade-25;
        justify-content: flex-start;
        &:before {
            background-color: $dark-shade-25;
        }
    }
}